/* ==============================================================
오늘일지
==============================================================*/
/* 사진 업로드 */
.diary_warp { height: 100vh; overflow: hidden; }
.diary_warp .container { position: relative; display: flex; flex-flow: column; align-items: center; text-align: center; }
.diary_warp .info_box { margin-top: 150px; margin-bottom: 50px; }
.diary_warp .info_box .add_img { width: 50px; height: 50px; background: #F43B00; border-radius: 50%; cursor: pointer; display: inline-flex;
    justify-content: center; align-items: center; }
.diary_warp .info_box .add_img  { width: 34px; pointer-events: none; }
.diary_warp .info_box .line { width: 2px; height: 65px; background: #F43B00; display: block;
    position: relative; left: calc(50% - -3px); transform: translateX(-50%); margin: 15px 0; }
.diary_warp .info_box p { font-size: 28px;}
.diary_warp .info_box p em { color: #F43B00; }
.diary_warp .img_box { display: block; max-width: 420px; }

/* 기록 */
.update_wrap .top_box { margin-top: 190px; margin-bottom: 90px; }
.update_wrap .top_box .date_item .img_box { width: 100%; max-width: 80px; margin: 0 auto; padding-bottom: 20px;}
.update_wrap .top_box .date_item .date { text-align: center; margin-bottom: 60px; }
.update_wrap .top_box .img_item { width: 100%; max-width: 1000px; margin: 0 auto; position: relative; z-index: 20; white-space: nowrap; overflow-x: auto; padding-bottom: 10px; }
.update_wrap .top_box .img_item li { width: calc(33.333% - 10px); display: inline-block; position: relative; }
.update_wrap .top_box .img_item li + li { margin-left: 10px;}
.update_wrap .top_box .img_item li .close_btn { position: absolute; right: 5px; top: 5px;}
.update_wrap .top_box .img_item li .close_btn object { pointer-events: none; filter: brightness(0) invert(1); }
.update_wrap .top_box .img_item li .img_box { display: block; position: relative; width: 100%; height: auto; box-sizing: border-box; padding-bottom: 100%; }
.update_wrap .top_box .img_item li .img_box img { position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover;
    border-radius: 6px;}

/* 이미지 스크롤바 */
.update_wrap .top_box .img_item::-webkit-scrollbar { width: 2px; height: 5px; }
.update_wrap .top_box .img_item::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, .5); border-radius: 10px; }
.update_wrap .top_box .img_item::-webkit-scrollbar-track { background: rgba(0, 0, 0, .1); }

.update_wrap .info_box { width: 100%; max-width: 900px; margin: 0 auto; }
.update_wrap .info_box .btn_item { display: flex; flex-wrap: wrap; gap: 10px; margin-bottom: 30px; }
.update_wrap .info_box .btn_item a { background: white; border: 1px solid #F43B00; color: #F43B00; display: block; width: calc(25% - 7.5px);
text-align: center; height: 50px; border-radius: 6px; line-height: 3.2; font-weight: 700; }
.update_wrap .info_box .btn_item a.on { background: #F43B00; color: white; }
.update_wrap .info_box .btn_item a:nth-last-child(-n+2) { background: #F43B00; color: white; }
.update_wrap .info_box .search_box { display: flex; flex-wrap: wrap; gap: 10px; margin-bottom: 25px; }
.update_wrap .info_box .search_box .search_item { display: inline-flex; align-items: center; gap: 5px; background: #F43B00;
    color: white; font-size: 14px; border-radius: 3px; padding: 6px 10px 5px 10px; }
.update_wrap .info_box .search_box a object { display: block; width: 14px; pointer-events: none; filter: brightness(0) invert(1); margin-bottom: 2px; }
.update_wrap .info_box .text_item input { margin-bottom: 10px; }
.update_wrap .info_box .text_item button { width: 100%; max-width: 300px; background: #F43B00; color: white; height: 45px;
    font-size: 18px; font-weight: 700; line-height: 2.8; border-radius: 6px; text-align: center; display: block; margin: 30px auto 60px;}


/* ==============================================================
  미디어 쿼리 시작
==============================================================*/
@media all and (max-width: 800px) {
    .pc_header { display: none !important; }
    /* 사진 업로드 */
    .diary_warp .info_box p { font-size: 22px; }
    /* 기록 */
    .update_wrap .top_box .date_item .img_box { max-width: 70px; padding-bottom: 10px; }
    .update_wrap .top_box { margin-top: 120px; margin-bottom: 20px; }
    .update_wrap .top_box .date_item .date { margin-bottom: 30px; }
    .update_wrap .info_box .btn_item a { width: calc(50% - 5px); }
}
@media all and (max-width: 400px) {
    /* 사진 업로드 */
    .update_wrap .top_box .date_item .img_box { max-width: 60px; }
    .diary_warp .info_box { margin-top: 120px; }
    .diary_warp .info_box .add_img { width: 40px; height: 40px; }
    .diary_warp .info_box .add_img object { width: 24px; pointer-events: none; }
    .diary_warp .info_box p { font-size: 20px; }

    /* 기록 */
    .update_wrap .top_box .date_item .date { font-size: 14px; }
    .update_wrap .info_box .btn_item a { height: 40px; line-height: 3; font-size: 14px; }
    .update_wrap .info_box .search_box .search_item { font-size: 12px; }
    .update_wrap .info_box .search_box a object { width: 12px; }

}