/* ==============================================================
  다봄 섭취
==============================================================*/
.consume_wrap { margin: 180px auto; }
.consume_wrap .container { max-width: 720px; }
.consume_wrap .month_box { display: flex; flex-wrap: wrap; border: 1px solid #F43B00; border-radius: 3px;
    padding: 4px 5px; gap: 5px; margin-bottom: 50px; }
.consume_wrap .month_box a { border: 1px solid #F43B00; text-align: center; background: white; color: #F43B00;
    width: calc(25% - 4px); border-radius: 3px; flex-grow: 1; line-height: 1.5; }
.consume_wrap .month_box a.on { background: #F43B00; color: white; }
.consume_wrap .kcal_box .title_txt { font-size: 20px; margin-bottom: 10px;}
.consume_wrap .kcal_box .sub_txt .title { font-size: 36px; display: block; font-weight: 700; }
.consume_wrap .kcal_box .sub_txt .title em { color: #F43B00; }
.consume_wrap .kcal_box .sub_txt .txt { color: #F43B00; font-size: 14px; margin-bottom: 15px; display: block; }

.consume_wrap .progress_box { display: flex; flex-flow: column; gap: 15px; margin-bottom: 100px;}
.consume_wrap .progress_box .progress { border-radius: 6px; height: 30px; overflow: hidden; position: relative;
    transform: translateZ(0); }
.progress_bar{ background-color: #ececec; bottom: 0; left: 0; position: absolute; right: 0;top: 0;
    transition: all 500ms ease-out; color: white; text-align: center; font-size: 14px;line-height: 2.5; }
.consume_wrap .progress_box .progress_bar.my { background: #F43B00;}
.consume_wrap .progress_box .progress_bar.std { background: #222222;}

.consume_wrap .list_box { margin-bottom: 100px; }
.consume_wrap .list_box h2 { font-size: 20px; font-weight: 400; margin-bottom: 10px; }
.consume_wrap .list_box .food_list li { display: flex; justify-content: space-between; border: 1px solid #E1E1E1;
    background: white; border-radius: 6px; align-items: center; padding: 14px 20px; }
.consume_wrap .list_box .food_list li + li { margin-top: 20px; }
.consume_wrap .list_box .food_list li p { font-size: 22px; display: inline-flex; align-items: center; gap: 10px; }
.consume_wrap .list_box .food_list li p i { display: inline-block;  width: 40px; height: 40px; border-radius: 50%;
    background: #F43B00; color: white; line-height: 2.4; text-align: center; font-size: 18px; }
.consume_wrap .list_box .food_list li .number { font-size: 18px; color: #909090;}

.consume_wrap .bml_box .top_txt p:first-child { font-size: 20px;}
.consume_wrap .bml_box .top_txt p:last-child { color: #909090; margin-bottom: 20px;}
.consume_wrap .bml_box .bottom_txt p { font-size: 36px; font-weight: 700; margin-bottom: 40px;}
.consume_wrap .bml_box .bottom_txt p em { color: #F43B00; }
.consume_wrap .bml_box .bml_bar { display: flex; justify-content: space-between; }
.consume_wrap .bml_box .bml_bar li { display: flex; flex-flow: column; flex: 1; text-align: center; }
.consume_wrap .bml_box .bml_bar li .txt { background: #F43B00; color: white; height: 35px; font-size: 16px;
    font-weight: 700; line-height: 2.3; }
.consume_wrap .bml_box .bml_bar li.on .img_box { filter: invert(72%) sepia(100%) saturate(997%) hue-rotate(359deg) brightness(140%) contrast(110%); }
.consume_wrap .bml_box .bml_bar li.on .txt { background: #FDDE58;}