@charset "UTF-8";
@import "main.css";
@import "login.css";
@import "join.css";
@import "style.css";
@import "mypage.css";

/* ==============================================================
  공통
==============================================================*/
.container { width: 100%; max-width: 1440px; margin: 0 auto; padding: 0 35px; }
.show_mobile { display: none; }
.hidden {overflow: hidden; border: 0; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%); display: inline-block; }
@media all and (max-width: 400px) {
    .container { padding: 0 24px; }
}
*:focus { outline-color: #F43B00; }
input[type=search]:focus { outline:none; }
/* IE */
input::-ms-clear, input::-ms-reveal{ display:none; }
/* 크롬 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{ display:none; }
.text_hide { position: absolute; width: 10px; height: 1px; font-size: 12px; color: transparent; line-height: 40px;
    white-space: nowrap; overflow: hidden; }
input ,select { height: 50px; border-radius: 6px; border: 1px solid #E1E1E1; padding: 0 10px; font-size: 16px;
    font-family: 'GmarketSans', sans-serif; line-height: 1.5; }
.birth_box { display: flex; width: 100%; box-sizing: border-box; gap: 10px; align-items: center;}
.birth_box select { color: #909090; padding-top: 2px; }
.birth_box input, .birth_box select { flex-grow: 1; width: 33%; }

/* ==============================================================
  인풋 스타일 공통
==============================================================*/
input::placeholder { font-family: 'GmarketSans', sans-serif; color: #909090; font-size: 16px; transform:translate3d(0,2px,0);}
input[type="text"],input[type="password"] { width: 100%; }
.checkbox input[type=checkbox] ,.radio-box input[type=radio] { display:none; }
.checkbox input[type=checkbox] + label { display: inline-block; padding-left: 30px; background-repeat: no-repeat;
    background-image:url("../images/disabled.svg"); cursor: pointer; background-size: 24px; line-height: 1.5; transition: all 0.2s ease-in-out; }
.checkbox input[type=checkbox]:disabled + label { background-image: url("../images/disabled.svg"); }
.checkbox input[type=checkbox]:checked + label { background-image: url("../images/checkd.svg");  }
.radio-box input + label { cursor: pointer; padding-left: 35px; position: relative; display: inline-block; }
.radio-box label:before { content: ""; top: -4px; left: 0; width: 22px; height: 22px; position: absolute; background: white;
    border: 1px solid #e1e1e1;
    border-radius: 100%; box-shadow: inset 0 0 0 18px #fff; transition: all 0.2s ease;}
.radio-box input:checked + label:before { border: 1px solid #F43B00; box-shadow: inset 0 0 0 4px #fff; background: #F43B00; }
.filebox input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden;
    clip:rect(0,0,0,0); border: 0; }
