@charset "UTF-8";

@import "main.css";
@import "login.css";
@import "join.css";
@import "style.css";
@import "mypage.css";
@import "mypage.css";
@import "diary.css";
@import "record.css";
@import "group.css";
@import "kcal_consume.css";
@import "yearpicker.css";

/* ==============================================================
  공통
==============================================================*/
.container { width: 100%; max-width: 1440px; margin: 0 auto; padding: 0 35px; }
.show_mobile { display: none; }
.mobile_hidden { display: none; }
.ma_hidden { overflow: hidden;}
.hidden { position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; overflow: hidden;}

/*!* 로딩  *!*/
.loading.fix { display: flex; justify-content: center; align-items: center;
    position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 2000;
    transition: all .2s, opacity .2s ease; background: rgba(255,255,255,0.3);
}
.loading.fix .loader { width: 80px; height: 45px; display: block;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAAxCAMAAAB6Z95gAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAA5UExURQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAALx2UD0AAAASdFJOUwAQHyAwQFBgcICQn6Cwv8/f717uXdIAAAFJSURBVEjHrZdBEoMgDEVjBanGUun9D9uF2JIIBiR/K/OGgUcSAWL8R06AhtQA39rAlzZw0QY+tYG2BbhuF4lAA0oZIlCLB+aGNZeZdqBXA86pNQYREXGkSxZERHQAMBfzl2RNrbHZG9/vDQGgLMnGlbIp8GlJQhNwX/15pMBsKoHUGgUgtaYOGDLPwzNrXi1AV23NAVzopWwtQGJNpTauohBZAvRIElqAxBqFM2S1ph/Iak0/kFqjAKTWwPB35b1/GX8ZqoBrsUP5XCGXgbTWuCRxh6TogdzkiDWr1BllILVGAUitUQBSaxSA1BpjhYArZxSsuRnPypXBclwNkNYa+ek1zzW9wNNc0wuc+DTcC5z5NCz1FHEQ5db0Ark1BzDkZly8YU3vGR7WxI2YbqA5Pe9O4HQCmou/haXamlt/KlfW6AG9NjC0Ar8/13onYUDlHAAAAABJRU5ErkJggg==') no-repeat  0 0 / 100% 100%;
    animation: loader_animation 1s ease infinite;
}
/*!* 고정 알림 *!*/
.right_menu { position: fixed; right: 35px; top: 25px; z-index: 500;}
.right_menu .bell { margin-right: 5px; }
.right_menu .bell , .right_menu .setting { display: inline-flex; position: relative; width: 40px; height: 40px;background: white;
    border-radius: 50%; box-shadow: 0 4px 4px rgba(204, 204, 204, 0.25); justify-content: center; align-items: center; }
.right_menu .bell:before { content: ""; display: block; width: 5px; height: 5px; background: #F43B00; border-radius: 50%;
    position: absolute; right: 8px; top: 7px; z-index: 500; }
.right_menu .setting_menu { position: absolute; right: -20px; top: 55px; background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); border-radius: 6px; padding: 10px; z-index: 500; }
.right_menu .bell_menu { position: absolute; right :0; top: 55px; background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); border-radius: 6px; padding: 15px 20px; z-index: 500; }
.right_menu .bell_menu .bell_item { display: flex; align-items: center; gap: 10px; }
.right_menu .bell_menu .bell_item .profile_img { width: 40px; height: 40px; border-radius: 50%; overflow: hidden; }
.right_menu .bell_menu .bell_item .txt_box { text-align: center; white-space: nowrap; }
.right_menu .bell_menu .bell_item .txt_box p:first-child { font-size: 14px; line-height: 1.6; }
.right_menu .bell_menu .bell_item .txt_box p:last-child { font-size: 12px; }
.right_menu .bell_menu .bell_item + .bell_item { margin-top: 15px; }
    /* ==============================================================
    해더
    ==============================================================*/
header .pc_header { display: flex; align-items: center; margin: 0 35px; height: 60px; border: 1px solid #FDDE58; background: white;
    border-radius: 50px; padding: 0 24px; position: fixed; width: calc(100% - 70px); top: 8px; z-index: 1000; transition: all 0.25s ease;  }
header .pc_header .menu { display: flex; gap: 10px; font-size: 14px; }
header .pc_header .logo { position: absolute; left: 50%; transform: translateX(-50%); }
header .pc_header .logo a { display: block; width: 60px;}
header .pc_header .login { margin-left: auto; }
header .pc_header .login a { display: block; width: 25px; }

header .pc_header.active { top: -60px; transition: all 0.25s ease; }

/* 모바일 해더 */
.m_header { padding: 0 24px; position: fixed; width: 100%; top: 20px; z-index: 1000;
    display: flex; justify-content: space-between; align-items: center; }
.m_header .logo object { display: block; width: 55px; }
.slide_header .logo object { display: block; width: 55px; filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(106%) contrast(101%); }


/* 모바일 햄버거 버튼 */
.hamburger { display: block; width: 35px; height: 15px; border: none; background: transparent; position: relative; z-index: 1000; }
.hamburger .line  { width: 100%; height: 3px; position: absolute; display: block; background: #222222; border-radius: 3px; }
.hamburger .line.top { top: 0; left: 0;  transition: all 0.3s; }
.hamburger .line.center { width: 0; top: 0; left: 0; }
.hamburger .line.bottom { bottom: 0; left: 0;  transition: all 0.3s;  transition-delay: 0.2s; }
.hamburger.on .line.top { width: 0; right: 0; transition: all 0.15s; }
.hamburger.on .line.center { width: 100%; left: 0; transition: 0.2s width 0.4s; }
.hamburger.on .line.bottom { width: 0; right: 0; transition: all 0.15s; transition-delay: 0.1s; }

/* 모바일 슬라이드 메뉴*/
.m_header { padding: 12px 24px; position: fixed; width: calc(100% - 24px); top: 8px; z-index: 1000;
    display: flex; justify-content: space-between; align-items: center; background: white; border: 1px solid #FFCC00;
    border-radius: 30px; left: 50%; transform: translateX(-50%); }
.mobile_header .slide_nav { position: fixed; left: 50%;  top: -100%; visibility: hidden; width: calc(100% - 20px); height: auto;
    transform: translateX(-50%); background: #FDDE58; display: flex; flex-flow: column; padding: 24px; border-radius: 20px;
    transition: all .15s cubic-bezier(.25, .46, .45, .94) 0s; z-index: 999; }
.mobile_header .slide_nav .slide_content { margin-top: 50px; display: flex; flex-flow: column; font-size: 18px; gap: 24px; }
.mobile_header .slide_nav .slide_bottom { margin-top: 40px; }
.mobile_header .slide_nav .slide_bottom a { display: flex; align-items: center; gap: 20px; font-weight: 700; font-size: 20px;}
.mobile_header .slide_nav .slide_bottom .mypage-icon { background: url("../images/login-icon.svg") no-repeat;
    width: 24px; height: 50px; display: inline-block; background-size: 24px; }

/* 모바일 슬라이드 메뉴 on 클래스 넣었을때 */
.mobile_header.on .m_header { padding: 0 24px; top: 30px; background: transparent; border-color: transparent;}
.mobile_header.on .m_header .logo { visibility: hidden; }
.mobile_header.on .hamburger .line { background: white; }
.mobile_header.on .slide_nav { visibility: visible; top: 8px; transition: all 0.4s cubic-bezier(.25, .46, .45, .94) 0s; }

*:focus { outline-color: #F43B00; }
input[type=search]:focus { outline:none; }
/* IE */
input::-ms-clear, input::-ms-reveal{ display:none; }
/* 크롬 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{ display:none; }
.text_hide { position: absolute; width: 10px; height: 1px; font-size: 12px; color: transparent; line-height: 40px;
    white-space: nowrap; overflow: hidden; }
input ,select { height: 50px; border-radius: 6px; border: 1px solid #E1E1E1; padding: 0 10px; font-size: 16px;
    font-family: 'GmarketSans', sans-serif; line-height: 1.5; }
textarea { width: 100%; font-family: 'GmarketSans', sans-serif; border-radius: 6px; border: 1px solid #E1E1E1;
    padding: 15px 10px; font-size: 16px; }
.birth_box { display: flex; width: 100%; box-sizing: border-box; gap: 10px; align-items: center;}
.birth_box select { color: #909090; padding-top: 2px; }
.birth_box input, .birth_box select { flex-grow: 1; width: 33%; }

/* ==============================================================
  인풋 스타일 공통
==============================================================*/
input::placeholder { font-family: 'GmarketSans', sans-serif; color: #909090; font-size: 16px; transform:translate3d(0,2px,0);}
textarea::placeholder { font-family: 'GmarketSans', sans-serif; color: #909090; font-size: 16px; }
input[type="text"],input[type="password"] { width: 100%; }
.checkbox input[type=checkbox] ,.radio-box input[type=radio] { display:none; }
.checkbox input[type=checkbox] + label { display: inline-block; padding-left: 30px; background-repeat: no-repeat;
    background-image:url("../images/disabled.svg"); cursor: pointer; background-size: 24px; line-height: 1.5; transition: all 0.2s ease-in-out; }
.checkbox input[type=checkbox]:disabled + label { background-image: url("../images/disabled.svg"); }
.checkbox input[type=checkbox]:checked + label { background-image: url("../images/checkd.svg");  }
.radio-box input + label { cursor: pointer; padding-left: 35px; position: relative; display: inline-block; }
.radio-box label:before { content: ""; top: -4px; left: 0; width: 22px; height: 22px; position: absolute; background: white;
    border: 1px solid #e1e1e1;
    border-radius: 100%; box-shadow: inset 0 0 0 18px #fff; transition: all 0.2s ease;}
.radio-box input:checked + label:before { border: 1px solid #F43B00; box-shadow: inset 0 0 0 4px #fff; background: #F43B00; }
.filebox input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden;
    clip:rect(0,0,0,0); border: 0; }

/* ==============================================================
  버튼 스타일 공통
==============================================================*/
.btn_box { display: flex; max-width: 500px; margin: 0 auto; gap: 10px; }
.red_btn { width: 100%; cursor: pointer; color: white; background: #F43B00; border: 1px solid #F43B00; text-align: center; height: 45px; border-radius: 6px; font-size: 18px; display: block; line-height: 2.5;}
.red_line_btn { width: 100%; cursor: pointer; color: #F43B00; background: white; border: 1px solid #F43B00; text-align: center; height: 45px; border-radius: 6px; font-size: 18px; display: block; line-height: 2.5; }
.black_line_btn { width: 100%; cursor: pointer; color: #222; background: white; border: 1px solid #222; text-align: center; height: 45px; border-radius: 6px; font-size: 18px; display: block; line-height: 2.5; }
.black_btn { width: 100%; cursor: pointer; color: white !important; background: #222 !important; border: 1px solid #222 !important; text-align: center; height: 45px; border-radius: 6px; font-size: 18px; display: block; line-height: 2.5; }
.gray_btn { width: 100%; cursor: pointer; color: #222; background: #E1E1E1; border: 1px solid #E1E1E1; text-align: center; height: 45px; border-radius: 6px; font-size: 18px; display: block; line-height: 2.5; }

/* ==============================================================
  네비게이션 공통
==============================================================*/
.post_nav { display: flex; justify-content: center; gap: 10px;  margin: 50px auto;}
.post_nav a { border: 1px solid #222; border-radius: 3px; width: 25px; height: 20px; text-align: center; line-height: 1.5; font-size: 14px;  }
.post_nav .prev,
.post_nav .next { display: inline-flex; align-items: center; justify-content: center; }

/* 로딩 */
@keyframes loader_animation {
    0% { transform: scale(1); }
    50% { transform: scale(.84); }
    100% { transform: scale(1); }
}
@media all and (max-width: 800px) {
    /*!* 고정 알림 *!*/
    .right_menu { right: 24px; top: 14px; }
    .right_menu .bell, .right_menu .setting { width: 35px; height: 35px; }
    .right_menu .bell object { width: 18px; }
    .right_menu .bell:before { right: 6px; }
    .right_menu .setting_menu { top: 45px; }
}

@media all and (max-width: 400px) {
    .container { padding: 0 24px; }
    /*!* 고정 알림 *!*/
    .right_menu { right: 20px; top: 10px; }
}