/* ==============================================================
section 1 비주얼
==============================================================*/
section { margin: 200px 0; }
.hero_wrap { width: 100%; height: 100vh; background: #FDDE58; overflow: hidden; display: flex; position: relative; z-index: 20; margin: 0; }
.hero_wrap:after { content: ""; position: absolute; left: 0; bottom: -5px; background: url("/assets/images/zigzag-04.svg") repeat-x;
    width: 100%; height: 40px; background-size: 70px; }
.hero_wrap .container { display: flex; align-items: center; }
.hero_wrap .text_box { display: flex; flex-flow: column; padding-top: 50px; width: calc(100% - 520px); }
.hero_wrap .text_box .top_txt { background: #F43B00; color: white; font-size: clamp(1rem, 1.5vw, 1.125rem); padding: 5px 15px;
    align-self: flex-start; margin-bottom: 30px; }
.hero_wrap .text_box .bottom_txt { font-family: "Cafe24Ohsquare", sans-serif; font-size: clamp(2.25rem, 7vw, 5.25rem); }
.hero_wrap .text_box .bottom_txt em { color: #F43B00; }
.hero_wrap .img_box { max-width: 520px; position: relative; margin-left: auto; bottom: calc(-50% - 220px); transform: translateY(-50%); }

/* ==============================================================
section 2 칼로리 검색
==============================================================*/
.food_search_wrap .container { display: flex; }
.food_search_wrap .left_box { width: calc(100% - 550px); }
.food_search_wrap .left_box .title { font-size: clamp(1.5rem, 3vw, 2.625rem); margin-bottom: 20px;
    line-height: 1.2; letter-spacing: -1.5px; }
.food_search_wrap .left_box .sub_txt { font-size: 24px; font-weight: 700; margin-bottom: 100px; }
.food_search_wrap .left_box .search_box { max-width: 560px; }
.food_search_wrap .left_box .search_box input { border-top: 0; border-left: 0; border-right: 0;  border-radius: 0;
    border-bottom: 6px solid #222; background: url("../images/search-icon.svg") no-repeat; background-position: right 5px center;
    background-size: 28px; font-size: 18px; }
.food_search_wrap .left_box .search_box input::placeholder { font-size: 18px; }
.food_search_wrap .left_box .search_box input:focus { outline-color: transparent;}

.food_search_wrap .category_box { width: 550px; position: relative; }
.food_search_wrap .category_box .category_item { box-shadow: 10px 30px 20px 0 rgba(0, 0, 0, 0.16);
    display: inline-flex; align-items: center; gap: 10px; position: absolute; }
.food_search_wrap .category_box .category_item img { width: 100%; height: 100%;}
.food_search_wrap .category_box .category_item .cate_name { margin-top: 2px; }
.food_search_wrap .category_box .category_item:nth-child(-n+3) { font-size: 22px; padding: 13px 25px 12px 20px; border-radius: 42px 42px 0 42px; }
.food_search_wrap .category_box .category_item:nth-child(-n+3) picture { height: 40px; }
.food_search_wrap .category_box .category_item:nth-last-child(-n+4) { font-size: 18px; padding: 11px 27px 10px 27px; border-radius: 32px 32px 0 32px; }
.food_search_wrap .category_box .category_item:nth-last-child(-n+4) picture { height: 30px; }

.food_search_wrap .category_box .category_item:nth-child(1) { background: black; color: white; left: 89px; top: 0;}
.food_search_wrap .category_box .category_item:nth-child(2) { background: #FBF4E4; left: 149px;top: 100px;}
.food_search_wrap .category_box .category_item:nth-child(3) { background: #FDDE58; left: 0; bottom: 48px; }
.food_search_wrap .category_box .category_item:nth-child(4) { background: black; color: white; left: 50%; bottom: 0; margin-left: -70px;}
.food_search_wrap .category_box .category_item:nth-child(5) { background: #FDDE58; color: white; right: 44px; top: 75px; }
.food_search_wrap .category_box .category_item:nth-child(6) {  background: #FBF4E4; right: 40px; bottom: 95px; }
.food_search_wrap .category_box .category_item:nth-child(7) { background: #F43B00 ; color: white; right: 0; bottom: 21px; }

/* ==============================================================
section 3 식단슬라이드
==============================================================*/
.story_wrap { position: relative; overflow: hidden; }
.story_wrap .story_top { display: flex; margin-bottom: 80px; position: relative; justify-content: space-between; }
.story_wrap .story_top .title { font-size: 42px; }
.story_wrap .story_top .line { width: calc(100% - 490px); padding: 0 1.4vw; display: inline-block; }
/* 버튼 */
.story_wrap .story_top .swiper-button-prev { left: inherit; }
.story_wrap .story_top .swiper-button-next { margin-left: 15px; right: inherit; }
.story_wrap .story_top .swiper-button-next,
.story_wrap .story_top .swiper-button-prev { position: relative; width: 50px; height: 50px; border: 2px solid #222; margin-top: inherit;  z-index: 2; overflow: hidden; }
.story_wrap .story_top .swiper-button-next::after,
.story_wrap .story_top .swiper-button-prev::after { content: ""; z-index: -1; width: 100%; height: 100%;
    background-color: #F43B00; margin-top: -100%; margin-right: -100%; position: absolute; top: 0;bottom: auto; left: auto; right: 0;
    transform: translate3d(0%, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d; transition: transform .35s; }
.story_wrap .story_top .swiper-button-next object,
.story_wrap .story_top .swiper-button-prev object { pointer-events: none; transition: all .3s;}
/* 버튼 호버시 */
.story_wrap .story_top .swiper-button-next:hover:after,
.story_wrap .story_top .swiper-button-prev:hover:after { transform: translate3d(-100%, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); }
.story_wrap .story_top .swiper-button-next:hover object,
.story_wrap .story_top .swiper-button-prev:hover object { filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(124%) contrast(101%); }
/* 슬라이드 */
.story_wrap .story_slide .swiper-wrapper { gap: 20px; }
.story_wrap .story_slide .swiper-slide { width: 25%; margin-bottom: 10px; }
.story_wrap .story_slide .swiper-slide a { display: block; position: relative; border-radius: 30px; overflow: hidden; transition: .2s all cubic-bezier(0.5, 0, 0, 1); }
.story_wrap .story_slide .swiper-slide a .img_box { width: 100%; height: auto; box-sizing: border-box; display: block; padding-bottom: 100%; }
.story_wrap .story_slide .swiper-slide a .img_box img { position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; }
.story_wrap .story_slide .swiper-slide a .buttom_box { position: absolute; bottom: 0; width: 100%; background: #F43B00;
    transition: .3s all cubic-bezier(0.5, 0, 0, 1); transform: translate(0, 6rem); padding: 1rem 1.875rem 1rem;}
.story_wrap .story_slide .swiper-slide a .buttom_box .pattern { position: absolute; left: 0; top: -10px; width: 100%; overflow: hidden; }
.story_wrap .story_slide .swiper-slide a .buttom_box .pattern object { width: 100%; min-width: 30rem;}
.story_wrap .story_slide .swiper-slide a .buttom_box .txt { font-size: 24px; text-align: center; color: white;  }
/* 슬라이드 호버시 */
.story_wrap .story_slide .swiper-slide a:hover { box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);}
.story_wrap .story_slide .swiper-slide a:hover .buttom_box { transform: translate3d(0, 0, 0);}

/* ==============================================================
section 4 식단일기소개
==============================================================*/
.food_diary_wrap:after { content: ""; position: absolute; left: 0; bottom: -5px; background: url("/assets/images/zigzag-04.svg") repeat-x;
    width: 100%; height: 40px; background-size: 70px; }
.food_diary_wrap:before { content: ""; position: absolute; left: 0; top: -5px; background: url("/assets/images/zigzag-04.svg") repeat-x;
    width: 100%; height: 40px; background-size: 70px; transform: rotate(180deg); }
.food_diary_wrap { background: #FBF4E4; position: relative; padding: 90px 0 50px; }
.food_diary_wrap .container { position: relative; }
.food_diary_wrap .top_txt { text-align: center; margin-bottom: 65px;}
.food_diary_wrap .top_txt .small_txt { color: #FFCC00; font-size: 20px; margin-bottom: 15px;}
.food_diary_wrap .top_txt .title { font-size: 44px; font-weight: 100; line-height: 1.2; }
.food_diary_wrap .top_txt .title em { font-weight: 700; }

.food_diary_wrap .text_group span { font-size: 18px; color: white; padding: 15px 20px 14px 20px; position: absolute;
    top: calc(50% + 70px); transform: translateY(-50%); box-shadow: 10px 30px 20px 0 rgba(0, 0, 0, 0.16); }
.food_diary_wrap .text_group span:nth-child(1) { background: #F43B00; border-radius: 22px 22px 0 22px; left: 75px;}
.food_diary_wrap .text_group span:nth-child(2) { background: #222; border-radius: 22px 22px 0 22px;
    left: calc(50% - 25%); transform: translate(-50%,-50%);}
.food_diary_wrap .text_group span:nth-child(3) { background: #F43B00; border-radius: 22px 22px 22px 0;
    right: calc(50% - 32%); transform: translate(-50%,-50%); }
.food_diary_wrap .text_group span:nth-child(4) { background: #222; border-radius: 22px 22px 22px 0; right: 80px;}

.food_diary_wrap .char_group { display: flex; justify-content: space-between; }
.food_diary_wrap .char_group  { display: flex; }
.food_diary_wrap .char_group .img_box:not(:nth-child(4)) { width: 120px; margin-top: auto; }
.food_diary_wrap .char_group .img_box:nth-child(4) { width: 260px;}







