/* ==============================================================
section 1 비주얼
==============================================================*/
section { margin: 200px 0; }
.hero_wrap { width: 100%; height: 100vh; background: #FDDE58; overflow: hidden; display: flex; position: relative; z-index: 20; margin: 0; }
.hero_wrap:after { content: ""; position: absolute; left: 0; bottom: 0; background: url("/assets/images/zigzag-04.svg") repeat-x;
    width: 100%; height: 40px; background-size: 80px; }
.hero_wrap .container { display: flex; align-items: center; }
.hero_wrap .text_box { display: flex; flex-flow: column; padding-top: 50px; }
.hero_wrap .text_box .top_txt { background: #F43B00; color: white; font-size: clamp(1rem, 1.5vw, 1.25rem); padding: 5px 15px;
    align-self: flex-start; margin-bottom: 30px; }
.hero_wrap .text_box .bottom_txt { font-family: "Cafe24Ohsquare", sans-serif; font-size: clamp(2.25rem, 7vw, 5.625rem); }
.hero_wrap .text_box .bottom_txt em { color: #F43B00; }
.hero_wrap .img_box { max-width: 540px; position: relative; margin-left: auto; bottom: -240px; }

/* ==============================================================
section 2 칼로리 검색
==============================================================*/
.food_search_wrap .container { display: flex; }
.food_search_wrap .left_box { width: calc(100% - 550px); }
.food_search_wrap .left_box .title { font-size: clamp(1.5rem, 3vw, 2.625rem); margin-bottom: 20px;
    line-height: 1.2; letter-spacing: -1.5px; }
.food_search_wrap .left_box .sub_txt { font-size: 24px; font-weight: 700; margin-bottom: 100px; }
.food_search_wrap .left_box .search_box { max-width: 560px; }
.food_search_wrap .left_box .search_box input { border-top: 0; border-left: 0; border-right: 0;  border-radius: 0;
    border-bottom: 6px solid #222; background: url("../images/search-icon.svg") no-repeat; background-position: right 5px center;
    background-size: 28px; font-size: 18px; }
.food_search_wrap .left_box .search_box input::placeholder { font-size: 18px; }
.food_search_wrap .left_box .search_box input:focus { outline-color: transparent;}

.food_search_wrap .category_box { width: 550px; position: relative; }
.food_search_wrap .category_box .category_item { box-shadow: 10px 30px 20px 0 rgba(0, 0, 0, 0.16);
    display: inline-flex; align-items: center; gap: 10px; position: absolute; }
.food_search_wrap .category_box .category_item img { width: 100%; height: 100%;}
.food_search_wrap .category_box .category_item .cate_name { margin-top: 2px; }
.food_search_wrap .category_box .category_item:nth-child(-n+3) { font-size: 22px; padding: 13px 25px 12px 20px; border-radius: 42px 42px 0 42px; }
.food_search_wrap .category_box .category_item:nth-child(-n+3) picture { height: 40px; }
.food_search_wrap .category_box .category_item:nth-last-child(-n+4) { font-size: 18px; padding: 11px 27px 10px 27px; border-radius: 32px 32px 0 32px; }
.food_search_wrap .category_box .category_item:nth-last-child(-n+4) picture { height: 30px; }

.food_search_wrap .category_box .category_item:nth-child(1) { background: black; color: white; left: 89px; top: 0;}
.food_search_wrap .category_box .category_item:nth-child(2) { background: #FBF4E4; left: 149px;top: 100px;}
.food_search_wrap .category_box .category_item:nth-child(3) { background: #FDDE58; left: 0; bottom: 48px; }
.food_search_wrap .category_box .category_item:nth-child(4) { background: black; color: white; left: 50%; bottom: 0; margin-left: -70px;}
.food_search_wrap .category_box .category_item:nth-child(5) { background: #FDDE58; color: white; right: 44px; top: 75px; }
.food_search_wrap .category_box .category_item:nth-child(6) {  background: #FBF4E4; right: 40px; bottom: 95px; }
.food_search_wrap .category_box .category_item:nth-child(7) { background: #F43B00 ; color: white; right: 0; bottom: 21px; }

/* ==============================================================
section 3 식단슬라이드
==============================================================*/
.story_wrap { position: relative;}
.story_wrap .story_top { display: flex; margin-bottom: 80px;}
.story_wrap .story_top .title { font-size: 42px; }
.story_wrap .story_top .swiper_btn { position: relative; }
.story_wrap .story_top .swiper_btn .swiper-button-prev { display: block; background: url("../images/swiper-arrow-left.svg") no-repeat;}
.story_wrap .story_top .swiper_btn .swiper-button-next { display: block; background: url("../images/swiper-arrow-right.svg") no-repeat; }
