/* ==============================================================
마이페이지
==============================================================*/
/* 공통 */
.mypage_wrap .container { display: flex; box-sizing: border-box;  }
.mypage_wrap .left_box { width: 20%; display: flex; flex-flow: column; align-items: center; padding-top: 110px; position: relative; z-index: 20;}
.mypage_wrap .left_box:before { content: ""; position: absolute; right:0; top: 0; width: 20px; height: 100%; z-index: 10;
    background: url("../images/zigzag-02.svg") repeat-x; background-size: cover; opacity: 0.4; }
.mypage_wrap .left_box .nav_list { display: flex; flex-flow: column; gap: 25px; overflow-y: auto; }
.mypage_wrap .left_box .nav_list li { display: flex; align-items: center; font-weight: 300; }
.mypage_wrap .left_box .nav_list li.on { font-weight: 500; }
.mypage_wrap .left_box .nav_list li p { font-weight: 300; padding-left: 10px; }
.mypage_wrap .right_box { width: calc(100% - 20%); }
.mypage_wrap .post_nav { display: flex; justify-content: center; gap: 10px;  margin: 50px auto;}
.mypage_wrap .post_nav a { border: 1px solid #222; border-radius: 3px; width: 25px; height: 20px; text-align: center; line-height: 1.5; font-size: 14px;  }
.mypage_wrap .post_nav .prev,
.mypage_wrap .post_nav .next { display: inline-flex; align-items: center; justify-content: center; }

/* 마이다봄 */
.mypage_wrap .right_box .form_group { max-width: 460px; margin: 100px auto; }
.mypage_wrap .right_box .filebox .profile_img { width: 100px; height: 100px; border-radius: 50%; overflow: hidden; display: inline-block; }
.mypage_wrap .right_box .filebox .profile_img img { width: 100%; height: 100%;}
.mypage_wrap .form_list .from_group:nth-child(2) h3:before, .mypage_wrap .from_group:nth-child(3) h3:before,
.mypage_wrap .from_group:nth-child(4) h3:before, .mypage_wrap .from_group:nth-child(7) h3:before
{ content: ""; width: 4px; height: 4px; border-radius: 50%; background: #FDDE58; display: inline-block;
    position: absolute; right: -10px; top: calc(50% - 3px); transform: translateY(-50%); }
.mypage_wrap .form_list { margin-bottom: 25px; }

/* 마이게시물 */
.mypage_wrap .post_group {  margin: 100px auto; padding-left: 35px; }
.mypage_wrap .post_group ul { width: 100%; max-width: 710px;  display: flex; flex-wrap: wrap; gap: 10px; box-sizing: border-box; margin: 0 auto; }
.mypage_wrap .post_group ul li { border: 1px solid #E1E1E1; background: white; position: relative; padding:25px 20px 20px;
    width: calc(33% - 5px); border-radius: 6px;  }
.mypage_wrap .post_group .checkbox { position: absolute; left: 5px; top: 3px; }
.mypage_wrap .post_group .checkbox input[type=checkbox] + label {  background-size: 20px !important; }
.mypage_wrap .post_group ul .checkbox label { text-indent: -9999px; }
.mypage_wrap .post_group ul .kcal { position: absolute; right: 5px; top: 5px; color: white; background: #F43B00; font-size: 10px;
 border-radius: 3px; padding: 3px 6px; z-index: 20; }
.mypage_wrap .post_group ul .info_box { margin-top: 10px; cursor: pointer;}
.mypage_wrap .post_group ul a { width: 100%; position: relative; height: auto; display: block; box-sizing: border-box; padding-bottom: 100%; }
.mypage_wrap .post_group ul a  img { object-fit: cover; width: 100%; height: 100%; position: absolute; left: 0; top: 0; padding: 0; z-index: 10; }
.mypage_wrap .post_group ul .info_box .sub_txt { margin-top: 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 10px; color: #909090;}
.mypage_wrap .post_group .post_nav { display: flex; justify-content: center; gap: 10px;  margin: 50px auto;}
.mypage_wrap .post_group .post_nav a { border: 1px solid #222; border-radius: 3px; width: 25px; height: 20px; text-align: center; line-height: 1.5; font-size: 14px;  }
.mypage_wrap .post_group .post_nav .prev,
.mypage_wrap .post_group .post_nav .next { display: inline-flex; align-items: center; justify-content: center; }

/* 다봄친구 */
.friend_box { width: 100%; max-width: 500px; margin: 100px auto; }
.friend_box .checkbox input[type=checkbox] + label { background-size: 20px; }
.friend_box .top { display: flex; justify-content: space-between; border-bottom: 1px solid #e1e1e1; padding-bottom: 10px; margin-bottom: 30px; }
.friend_box .top .checkbox { font-size: 14px; }
.friend_box .top .btn a { display: inline-block;  background: #E1E1E1; border: 1px solid #909090; color: #909090;
  text-align: center; border-radius: 3px; font-size: 12px; padding: 0 15px; height: 25px; line-height: 2; }
.friend_box .bottom {}
.friend_box .bottom li { display: flex; justify-content: space-between; align-items: center; }
.friend_box .bottom li + li { margin-top: 30px; }
.friend_box .bottom li:first-child { gap: 15px; }
.friend_box .bottom li:first-child input { width: calc(100% - 75px); height: 45px; }
.friend_box .bottom li .checkbox input[type=checkbox] + label { background-position-y: center; padding-left: 35px; }
.friend_box .bottom li .checkbox .profile_img { width: 50px; height: 50px; border: 1px solid #E1E1E1; border-radius: 20px;
    overflow: hidden; display: block; }
.friend_box .bottom li .txt_box { display: flex; align-items: flex-end;  width: calc(100% - 193px); }
.friend_box .bottom li .txt_box p { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.friend_box .bottom li .txt_box .name { font-size: 20px; }
.friend_box .bottom li .txt_box .data { color: #909090; }
.friend_box .bottom li a { display: inline-block; height: 35px; line-height: 2.6; background: #F43B00; color: white; border-radius: 3px;
    font-size: 14px; padding: 0 15px; border: 1px solid #F43B00; text-align: center; }


    /* 회원탈퇴 */
.unregister_box { width: 100%; margin: 120px auto;}
.unregister_box h2 { font-weight: 700; font-size: 32px; text-align: center; margin-bottom: 25px; }
.unregister_box .info_box { margin-bottom: 50px; display: flex; flex-flow: column; align-items: center; }
.unregister_box .info_box  span { background: #F43B00; color: white; padding: 0 8px; border-radius: 3px; line-height: 2;
    margin-bottom: 20px; font-size: 14px; height: 25px; }
.unregister_box .info_box .guide { display: flex; flex-flow: column; align-items: start; }
.unregister_box .info_box .guide  p { position: relative; padding-left: 20px; font-size: 14px; font-weight: 300; }
.unregister_box .info_box .guide  p + p { margin-top: 10px; }
.unregister_box .info_box .guide  p:before { content: ""; position: absolute; left: 0; top: 50%; transform: translateY(-50%);
background: url("/assets/images/ckeck-icon.svg") no-repeat; width: 12px; height: 12px; display: inline-block; background-size: 12px; }
.unregister_box .info_box p em { font-weight: 500; }
.unregister_box .content_box { position: relative; padding-top: 55px; margin-bottom: 40px;  }
.unregister_box .content_box .txt { position: absolute; left: calc(50% - -80px); top: 0; transform: translateX(-50%);
    font-size: 16px; color: white; background: #222; display: inline-block; padding: 15px 20px;
    border-radius: 22px 22px 22px 0; letter-spacing: -1px; box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.16); }
.unregister_box .content_box img { margin: 0 auto;}

/* ==============================================================
  미디어 쿼리 시작
==============================================================*/
@media all and (max-width: 800px){
    /* 마이다봄 */
    .mypage_wrap .container { flex-flow: column; }
    .mypage_wrap .left_box { width: 100%; padding: 50px 0; }
    .mypage_wrap .left_box .logo { margin-bottom: 40px; }
    .mypage_wrap .left_box .logo a { width: 60px; }
    .mypage_wrap .left_box:before { display: none; }
    .mypage_wrap .nav_lis { overflow-y: hidden; }
    .mypage_wrap .nav_list:before { content: ""; position: absolute; right:0; bottom: 0; width: 100%; height: 20px; z-index: 10;
        background: url("../images/zigzag-03.svg") repeat-x; background-size: cover;}
    .mypage_wrap .left_box .nav_list { flex-flow: row; }
    .mypage_wrap .right_box { width: 100%; }
    .mypage_wrap .right_box .form_group { margin: 65px auto; }

    /* 마이게시물 */
    .mypage_wrap .post_group { margin: 65px auto; padding-left: 0; }
    .mypage_wrap .post_group ul li { width: calc(50% - 5px); }

    /* 다봄친구 */
    .friend_box { margin: 65px auto; }
    .friend_box .bottom li .checkbox .profile_img { width: 40px; height: 40px; border-radius: 15px; }
    .friend_box .bottom li .txt_box .name { font-size: 18px; }
    .friend_box .bottom li .txt_box .data { font-size: 14px; }

    /* 회원탈퇴 */
    .unregister_box { margin: 65px auto; }
    .unregister_box h2 { font-size: 28px; margin-bottom: 20px; }
    .unregister_box .info_box { margin-bottom: 25px; }
    .unregister_box .info_box span { line-height: 2.3; margin-bottom: 10px; font-size: 12px; }
    .unregister_box .info_box .guide p { font-size: 12px;}
    .unregister_box .content_box { margin-bottom: 40px; }
    .unregister_box .content_box .txt { left: calc(50% - -50px); font-size: 14px;  padding: 15px 16px;}
    .unregister_box .content_box .img_box { margin: auto; max-width: 160px; }
    .btn_box a { font-size: 16px; line-height: 2.8; }
}
@media all and (max-width: 400px) {
    /* 마이다봄 */
    .mypage_wrap .left_box { width: 100%; padding: 45px 0; }
    .mypage_wrap .left_box .nav_list li { font-size: 14px; }
    .mypage_wrap .right_box .form_group { margin: 30px auto; }
    /* 마이게시물 */
    .mypage_wrap .post_group { margin: 30px auto; }
    .mypage_wrap .post_group ul li { padding: 15px; }
    .mypage_wrap .post_group ul .info_box .sub_txt { padding-right: 5px; }
    .mypage_wrap .checkbox { left: inherit; top: inherit; right: -5px; bottom: 3px; }
    .mypage_wrap .checkbox input[type=checkbox] + label { background-size: 18px !important; }
    .mypage_wrap .post_group ul .kcal { right: 14px; top: calc(50% - -22px); transform: translateY(50%); border-radius: 0;}
    .mypage_wrap .post_group ul a { min-height: 140px; }


    /* 다봄친구 */
    .friend_box { margin: 30px auto; }
    .friend_box .bottom li:first-child { gap: 10px; }
    .friend_box .bottom li:first-child input { width: calc(100% - 65px); }
    .friend_box .bottom li .checkbox input[type=checkbox] + label { padding-left: 30px; padding-right: 5px; }
    .friend_box .bottom li .txt_box {  width: calc(100% - 165px); }
    .friend_box .bottom li .txt_box .name { font-size: 16px; }
    .friend_box .bottom li .txt_box .data { font-size: 12px; display: block; margin-top: 5px; }
    .friend_box .bottom li a { font-size: 12px; font-weight: 700; }

    /* 회원탈퇴 */
    .unregister_box { margin: 30px auto; }
    .unregister_box .info_box span { font-size: 10px; height: 20px;}
    .unregister_box .info_box .guide p { font-size: 10px; }
}

