/* 친구수락  팝업 */
.email_friend_wrap { background: #FEEBE5; width: 100%; height: 100vh; }
.email_friend_wrap .inner { position: fixed; right: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.2);
    z-index: 2000; overflow: hidden; }
.email_friend_wrap .inner .content_box { position: fixed; left: 50%; top: 50%; transform: translate(-50%,-50%);
    width: 70%; height: 70%; box-sizing: border-box; background: #fff; display: flex; border-radius: 10px;
    flex-flow: column; justify-content: center; align-items: center;  padding: 0 15px; }
.email_friend_wrap .inner .content_box h2 { margin-bottom: clamp(3.125rem, 10vw, 6.25rem); text-align: center; font-size: clamp(1.25rem, 5vw, 1.875rem); }
.email_friend_wrap .inner .content_box .btn_box { max-width: 380px; display: flex; width: 100%; gap: 10px; }
.email_friend_wrap .inner .content_box .btn_box a { text-align: center; flex: 1; line-height: 2.5; border-radius: 3px; font-weight: 700; }
.email_friend_wrap .inner .content_box .btn_box a:first-child { border: 1px solid #222; }
.email_friend_wrap .inner .content_box .btn_box a:last-child { background: #F43B00; color: white; border: 1px solid #F43B00; }


/* 오늘일지 칼로리 상세보기 팝업 */
.kcal_popup_wrap { position: fixed; right: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.2);
    z-index: 2000; overflow: hidden; display: none; }
.kcal_popup_wrap .inner { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
    background: white; width: calc(100% - 30px); max-width: 500px; height: 100%; max-height: 500px; border-radius: 10px;
    padding: 40px; display: flex; flex-flow: column; }
.kcal_popup_wrap .inner h2 { font-size: 24px; border-bottom: 1px solid #E1E1E1; margin-bottom: 25px; }
.kcal_popup_wrap .inner .content_box { max-height: 300px; overflow-y: auto; }
.kcal_popup_wrap .inner .content_box li { font-size: 18px; line-height: 1.5; word-break: break-word; }
.kcal_popup_wrap .inner .content_box li + li { margin-top: 15px; }
.kcal_popup_wrap .inner .btn_box { width: 100%; margin-top: auto; }

/* ==============================================================
  미디어 쿼리 시작
==============================================================*/
@media all and (max-width: 800px) {
    .email_friend_wrap .inner .content_box .btn_box a { font-size: 14px; }
    /* 오늘일지 칼로리 상세보기 팝업 */
    .kcal_popup_wrap .inner { padding: 30px 25px;}
}