/* ==============================================================
내기록
==============================================================*/
/* 공통 */
.record_wrap .txt { font-size: 12px; display: inline-flex; align-items: center; gap: 5px; font-weight: 400;}
.record_wrap .txt .y_txt { display: inline-block; min-width: 70px; max-width: 120px; text-align: center; background: #FDDE58; border-radius: 3px; padding: 5px 0; }
.record_wrap .txt .r_txt {display: inline-block; min-width: 70px; max-width: 120px; text-align: center; background: #F43B00; color: white; border-radius: 3px; padding: 5px 0; }

/* 내기록 */
.record_wrap { margin: 200px auto; }
.record_wrap .tab_menu { max-width: 600px; margin: auto; display: flex; gap: 10px; margin-bottom: 10px; }
.record_wrap .tab_menu li { flex: 1; }
.record_wrap .tab_menu li a { display: block; border: 1px solid#F43B00; color: #F43B00; background: white;
    text-align: center; height: 45px; border-radius: 6px; font-size: 18px; line-height: 2.5; }
.record_wrap .tab_menu li.on a { background: #F43B00; color: white; transition: all 0.3s; }
.record_wrap .year_box { max-width: 600px; margin: auto; text-align: center; }
.record_wrap .year_box input { height: 45px; text-align: center; border: 1px solid #F43B00; color: #F43B00; cursor: pointer;}

.record_wrap .check_item { max-width: 600px; margin: auto; }
.record_wrap .check_item .checkbox input[type=checkbox] + label { background-size: 20px; }
.record_wrap .check_item  { display: flex; justify-content: space-between; border-bottom: 1px solid #e1e1e1; padding-bottom: 10px; margin-bottom: 30px; }
.record_wrap .check_item .checkbox { font-size: 14px; }
.record_wrap .check_item  .btn a { display: inline-block;  background: #E1E1E1; border: 1px solid #909090; color: #909090;
    text-align: center; border-radius: 3px; font-size: 12px; padding: 0 15px; height: 25px; line-height: 2; }

.record_wrap .month_item { white-space: nowrap; overflow-x: auto; overflow-y: hidden;
  width: 100%; max-width: 720px; margin: 30px  auto 20px; text-align: center; padding-bottom: 10px; }
.record_wrap .month_item a { display: inline-block; width: 50px; height: 50px; border-radius: 50%; border: 1px solid #909090;
    color: #909090; text-align: center; line-height: 3.3; }
.record_wrap .month_item a + a { margin-left: 5px; }
.record_wrap .month_item a.on { border: 1px solid #222222; color: #222; transition: all 0.3s; }

/* 달월 스크롤바 */
.record_wrap .month_item::-webkit-scrollbar { width: 2px; height: 5px; }
.record_wrap .month_item::-webkit-scrollbar-thumb { background: rgba(244, 59, 0, .8); border-radius: 10px; }
.record_wrap .month_item::-webkit-scrollbar-track { background: rgba(244, 59, 0, .1); }


.record_wrap .record_box { width: 100%; max-width: 600px; margin: auto; }
.record_wrap .record_box ul li + li { margin-top: 10px; }
.record_wrap .record_box ul li .img_box { width: 100%; max-width: 180px; max-height: 180px; position: relative;  display: block; padding-bottom: 180px; box-sizing: border-box;}
.record_wrap .record_box ul li .img_box img { width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0; }
.record_wrap .record_box ul li .info_box { width: calc(100% - 200px); display: flex; flex-flow: column;}
.record_wrap .record_box ul li { display: flex; border: 1px solid #E1E1E1; border-radius: 6px; padding: 15px; gap: 20px; }
.record_wrap .record_box ul li .info_box h2 { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin: 15px 0 20px; }
.record_wrap .record_box ul li .info_box .date { color: #909090; font-size: 14px; margin-bottom: 5px;}
.record_wrap .record_box ul li .info_box .txt_info { color: #909090; font-size: 14px; overflow: hidden;
    text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height: 1.5; }

.record_wrap .record_box ul li .info_box .bottom { display: flex; justify-content: space-between; align-items: center;  margin-top: auto; }
.record_wrap .record_box ul li .info_box .bottom .txt .kcal { color: #F43B00;}
.record_wrap .record_box ul li .info_box .bottom .right_box { display: flex; gap: 10px; align-items: flex-start; }
.record_wrap .record_box ul li .info_box .bottom .right_box .comment { display: flex; align-items: center;  color: #909090; font-size: 12px;}
.record_wrap .record_box ul li .info_box .bottom .right_box .comment i { margin-right: 5px; }
.record_wrap .record_box ul li .info_box .bottom .checkbox input[type=checkbox] + label { text-indent: -9999px; padding-left: 25px; background-size: 20px; }

/* 내기록 상세 */
.record_wrap .container { max-width: 1000px; }
.record_wrap .date_item { display: flex; flex-flow: column; align-items: center;}
.record_wrap .date_item .img_box { width: 100%; max-width: 80px; margin: 0 auto; padding-bottom: 20px;}
.record_wrap .date_item .date { margin-bottom: 30px; }
.record_wrap .date_item .title { margin-bottom: 50px; font-size: 36px; }
.record_wrap .record_slide { position: relative; overflow: hidden; margin-bottom: 50px; }
.record_wrap .record_slide .img_box { display: block; position: relative; width: 100%; height: auto; box-sizing: border-box; padding-bottom: 100%; }
.record_wrap .record_slide .img_box img { position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover;
    border-radius: 6px;}
.record_wrap .record_slide .swiper-pagination { background: rgba(0,0,0,0.7); width: auto; position: absolute; color: white;
    right: 5px; top: 5px; display: inline-block; bottom: inherit; left: inherit; padding: 0 13px;
    height: 30px; line-height: 2.6; border-radius: 20px; font-size: 12px; }

.record_wrap .meal_box { display: flex; align-items: center; margin-bottom: 40px; }
.record_wrap .txt { align-self: baseline; }
.record_wrap .bottom_box .meal_box h2 { font-weight: 400; margin-right: 6vw; }
.record_wrap .bottom_box .meal_box .kcal { color: #F43B00; margin-right: 2vw; font-size: 18px; }
.record_wrap .bottom_box .info_box p { color: #909090; font-size: 18px; line-height: 1.8; }
.record_wrap .bottom_box .btn_box { margin: 50px auto 40px; max-width: 700px; }
.record_wrap .bottom_box .btn_box a { font-size: 16px; height: 40px; }

.record_wrap .comment_box .top_info { display: flex; gap: 5px; margin-bottom: 10px; }
.record_wrap .comment_box .top_info a { display: flex; align-items: center; border-radius: 3px; border: 1px solid #909090;
 padding: 0 14px; height: 40px; font-size: 14px; }
.record_wrap .comment_box .top_info a object { display: block; width: 24px; margin-right: 5px; }
.record_wrap .comment_box .write_info { display: flex; gap: 15px;align-items: center; margin-bottom: 50px; }
.record_wrap .comment_box .write_info input { width: calc(100% - 110px);}
.record_wrap .comment_box .write_info input::placeholder { transform:translate3d(0,1px,0); }
.record_wrap .comment_box .write_info a { border: 1px solid #222; height: 40px; border-radius: 3px; line-height: 2.5; padding: 0 14px; }
.record_wrap .comment_box .comment_list {}
.record_wrap .comment_box .comment_list li + li { padding-top: 15px; border-top: 1px solid #909090; }
/*공통*/
.record_wrap .comment_box .comment_list .comment_area { display: flex; justify-content: space-between; }
.record_wrap .comment_box .comment_list .nick_box { display: flex; align-items: center; gap: 5px; margin-bottom: 15px; }
.record_wrap .comment_box .comment_list .nick_box .profile_img { width: 48px; height: 48px; border-radius: 50%; overflow: hidden; border: 1px solid #E1E1E1; }
.record_wrap .comment_box .comment_list .nick_box .info .nick { font-size: 14px; }
.record_wrap .comment_box .comment_list .comment_button { position: relative; z-index: 100;}
.record_wrap .comment_box .comment_list .comment_button:hover .comment_button_box { opacity: 1; transition: all 0.25s ease-in; }
.record_wrap .comment_box .comment_list .comment_button .comment_button_box { opacity: 0; position: absolute; z-index: 100; left: 50%; top: 25px; transform: translateX(-50%);
    display: flex; flex-flow: column; width: 80px; background: white; box-shadow: 0 0 8px rgba(204, 204, 204, 0.25); }
.record_wrap .comment_box .comment_list .comment_button .comment_button_box button { line-height: 1.5; padding: 5px; background: white; transition: all 0.05s ease-in; }
.record_wrap .comment_box .comment_list .comment_button .comment_button_box button:focus { background: #E1E1E1; }
.record_wrap .comment_box .comment_list .nick_box .info .date { font-size: 12px; color: #909090; margin-top: 5px; }
.record_wrap .comment_box .comment_list .text_box { font-weight: 100; padding-bottom: 15px; font-size: 14px; line-height: 1.5;}
.record_wrap .comment_box .comment_list .comment_btn { display: flex; gap: 5px; font-size: 14px; line-height: 1.4; padding-bottom: 5px; }
.record_wrap .comment_box .comment_list .comment_btn i object { pointer-events: none; width: 16px; display: block; }

.record_wrap .comment_box .comment_list .comment_view_box { background: #FDF9F1; padding: 10px 20px; }
.record_wrap .comment_box .comment_list .comment_view_box li { padding: 10px 0;}
.record_wrap .comment_box .comment_list .inner_comment { margin-top: 10px; }
.record_wrap .comment_box .comment_list .inner_comment .inner_comment_btn { text-align: right; margin-top: 5px; }
.record_wrap .comment_box .comment_list .inner_comment .inner_comment_btn a { display: inline-block; text-align: center;
    font-size: 12px; width: 80px; height: 24px; line-height: 2; }
.record_wrap .comment_box .comment_list .inner_comment .inner_comment_btn a:last-child { background: white; border: 1px solid #222; border-radius: 3px; }


/* ==============================================================
  미디어 쿼리 시작
==============================================================*/
@media all and (max-width: 800px) {
    /*내기록*/
    .record_wrap { margin: 120px auto; }
    .record_wrap .record_box ul li { flex-flow: column; gap: 0; }
    .record_wrap .record_box ul li .img_box { width: 100%; max-width: 100%; max-height: 180px; position: relative;
        display: block; padding-bottom: 180px; box-sizing: border-box; }
    .record_wrap .record_box ul li .info_box { width: 100%; }
    .record_wrap .record_box ul li .info_box h2 { margin: 15px 0 15px; }
    .record_wrap .record_box ul li .info_box .txt_info { margin-bottom: 5px; }
    .record_wrap .month_item a { width: 45px; height: 45px; line-height: 3; }

    /* 내기록 상세 */
    .record_wrap .date_item .img_box { max-width: 70px; padding-bottom: 10px; }
    .record_wrap .date_item .title { font-size: 30px; }
    .record_wrap .record_slide .swiper-pagination { font-size: 10px; height: 25px;line-height: 2.5; }
    .record_wrap .bottom_box .meal_box h2 { font-size: 18px;}
    .record_wrap .bottom_box .meal_box .kcal { font-size: 16px;}
    .record_wrap .bottom_box .info_box p { font-size: 16px; }
    .record_wrap .bottom_box .btn_box a { font-size: 14px; }
    .record_wrap .comment_box .top_info a { padding: 0 10px; height: 35px; font-size: 12px; font-weight: 500; }
    .record_wrap .comment_box .top_info a object { width: 22px; }
    .record_wrap .comment_box .write_info input { width: calc(100% - 95px);}
    .record_wrap .comment_box .write_info { margin-bottom: 30px; }
    .record_wrap .comment_box .write_info a { font-size: 14px; height: 35px; padding: 0 10px; }
}

@media all and (max-width: 400px) {
    /*내기록*/
    .record_wrap .record_box ul li .info_box h2 { font-size: 20px; }

    /* 내기록 상세 */
    .record_wrap .date_item .img_box { max-width: 60px; }
    .record_wrap .date_item .title { font-size: 28px; margin-bottom: 30px; }
    .record_wrap .date_item .date { margin-bottom: 15px; font-size: 14px; }
    .record_wrap .comment_box .write_info input { width: calc(100% - 85px); }
    .record_wrap .comment_box .write_info a { font-size: 12px; line-height: 3;}

}
