<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>마이페이지 다봄친구</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/layout.css">
</head>
<body>
<div class="mypage_wrap">
    <div class="container">
        <nav class="left_box">
            <h1 class="logo">
                <a href="javascript:"><img src="../assets/images/logo.svg" alt="로고"></a>
            </h1>
            <ul class="nav_list">
                <li>
                    <a href="javascript:">마이다봄</a>
                </li>
                <li>
                    <a href="javascript:">다봄게시물</a>
                </li>
                <li class="on">
                    <a href="javascript:">다봄친구</a>
                </li>
                <li>
                    <a href="javascript:">회원탈퇴</a>
                </li>
            </ul>
        </nav>
        <div class="right_box">
            <div class="friend_box">
                <div class="top">
                    <div class="checkbox">
                        <input type="checkbox" id="checkall">
                        <label for="checkall">전체선택</label>
                    </div>
                    <div class="btn">
                        <a href="javascript:">차단</a>
                        <a href="javascript:">삭제</a>
                    </div>
                </div>
                <ul class="bottom">
                    <li>
                        <input type="text" placeholder="친구이메일">
                        <a href="javascript:">추가</a>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input type="checkbox" id="check1">
                            <label for="check1">
                                <span class="profile_img">
                                    <img src="../assets/images/default-profile.png" alt="프로필이미지">
                               </span>
                            </label>
                        </div>
                        <div class="txt_box">
                            <p class="name">김철수 <em class="data">(올해는 살을 꼭 뺄거야!!!!!!)</em></p>
                        </div>
                        <a href="javascript:">식단보기</a>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input type="checkbox" id="check2">
                            <label for="check2">
                                <span class="profile_img">
                                    <img src="../assets/images/default-profile.png" alt="프로필이미지">
                               </span>
                            </label>
                        </div>
                        <div class="txt_box">
                            <p class="name">김철수 <em class="data">(올해는 살을 꼭 뺄거야!!!!!!)</em></p>
                        </div>
                        <a href="javascript:">식단보기</a>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input type="checkbox" id="check3">
                            <label for="check3">
                                <span class="profile_img">
                                    <img src="../assets/images/default-profile.png" alt="프로필이미지">
                               </span>
                            </label>
                        </div>
                        <div class="txt_box">
                            <p class="name">김철수 <em class="data">(올해는 살을 꼭 뺄거야!!!!!!)</em></p>
                        </div>
                        <a href="javascript:">식단보기</a>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input type="checkbox" id="check5">
                            <label for="check5">
                                <span class="profile_img">
                                    <img src="../assets/images/default-profile.png" alt="프로필이미지">
                               </span>
                            </label>
                        </div>
                        <div class="txt_box">
                            <p class="name">김철수 <em class="data">(올해는 살을 꼭 뺄거야!!!!!!)</em></p>
                        </div>
                        <a href="javascript:">식단보기</a>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input type="checkbox" id="check6">
                            <label for="check6">
                                <span class="profile_img">
                                    <img src="../assets/images/default-profile.png" alt="프로필이미지">
                               </span>
                            </label>
                        </div>
                        <div class="txt_box">
                            <p class="name">김철수 <em class="data">(올해는 살을 꼭 뺄거야!!!!!!)</em></p>
                        </div>
                        <a href="javascript:">식단보기</a>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input type="checkbox" id="check7">
                            <label for="check7">
                                <span class="profile_img">
                                    <img src="../assets/images/default-profile.png" alt="프로필이미지">
                               </span>
                            </label>
                        </div>
                        <div class="txt_box">
                            <p class="name">김철수 <em class="data">(올해는 살을 꼭 뺄거야!!!!!!)</em></p>
                        </div>
                        <a href="javascript:">식단보기</a>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input type="checkbox" id="check8">
                            <label for="check8">
                                <span class="profile_img">
                                    <img src="../assets/images/default-profile.png" alt="프로필이미지">
                               </span>
                            </label>
                        </div>
                        <div class="txt_box">
                            <p class="name">김철수 <em class="data">(올해는 살을 꼭 뺄거야!!!!!!)</em></p>
                        </div>
                        <a href="javascript:">식단보기</a>
                    </li>
                </ul>
                <div class="post_nav">
                    <a class="prev" href="javascript:"> <object data="../assets/images/arrow-left.svg" type="image/svg+xml" aria-label="왼쪽 화살표"></object></a>
                    <a class="num" href="javascript:">1</a>
                    <a class="num" href="javascript:">2</a>
                    <a class="num" href="javascript:">3</a>
                    <a class="num" href="javascript:">4</a>
                    <a class="num" href="javascript:">5</a>
                    <a class="next" href="javascript:">
                        <object data="../assets/images/arrow-right.svg" type="image/svg+xml" aria-label="오른쪽 화살표"></object>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="right_menu">
    <a class="bell" href="javascript:">
        <img src="/assets/images/bell-icon.svg" alt="종아이콘">
    </a>
</div>
</body>
</html>