<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>마이페이지 다봄친구</title>
    <link href="../assets/css/reset.css" rel="stylesheet">
    <link href="../assets/css/layout.css" rel="stylesheet">
    <link href="../assets/css/popup.css" rel="stylesheet">
</head>
<body>
<div class="mypage_wrap">
    <div class="container">
        <nav class="left_box">
            <h1 class="logo">
                <a href="javascript:"><img alt="로고" src="../assets/images/logo.svg"></a>
            </h1>
            <ul class="nav_list">
                <li>
                    <a href="javascript:">마이다봄</a>
                </li>
                <li>
                    <a href="javascript:">다봄게시물</a>
                </li>
                <li class="on">
                    <a href="javascript:">다봄친구</a>
                </li>
                <li>
                    <a href="javascript:">회원탈퇴</a>
                </li>
            </ul>
        </nav>
        <div class="right_box">
            <div class="friend_box">
                <div class="top">
                    <div class="checkbox">
                        <input id="checkall" type="checkbox">
                        <label for="checkall">전체선택</label>
                    </div>
                    <div class="btn">
                        <a href="javascript:">차단</a>
                        <a href="javascript:">삭제</a>
                    </div>
                </div>
                <ul class="bottom">
                    <li>
                        <input placeholder="친구이메일" type="text">
                        <a href="javascript:">추가</a>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input id="check1" type="checkbox">
                            <label for="check1">
                                <span class="profile_img">
                                    <img alt="프로필이미지" src="../assets/images/default-profile.png">
                               </span>
                            </label>
                        </div>
                        <div class="txt_box">
                            <p class="name">김철수 <em class="data">(올해는 살을 꼭 뺄거야!!!!!!)</em></p>
                        </div>
                        <a href="javascript:">식단보기</a>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input id="check2" type="checkbox">
                            <label for="check2">
                                <span class="profile_img">
                                    <img alt="프로필이미지" src="../assets/images/default-profile.png">
                               </span>
                            </label>
                        </div>
                        <div class="txt_box">
                            <p class="name">김철수 <em class="data">(올해는 살을 꼭 뺄거야!!!!!!)</em></p>
                        </div>
                        <a href="javascript:">식단보기</a>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input id="check3" type="checkbox">
                            <label for="check3">
                                <span class="profile_img">
                                    <img alt="프로필이미지" src="../assets/images/default-profile.png">
                               </span>
                            </label>
                        </div>
                        <div class="txt_box">
                            <p class="name">김철수 <em class="data">(올해는 살을 꼭 뺄거야!!!!!!)</em></p>
                        </div>
                        <a href="javascript:">식단보기</a>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input id="check5" type="checkbox">
                            <label for="check5">
                                <span class="profile_img">
                                    <img alt="프로필이미지" src="../assets/images/default-profile.png">
                               </span>
                            </label>
                        </div>
                        <div class="txt_box">
                            <p class="name">김철수 <em class="data">(올해는 살을 꼭 뺄거야!!!!!!)</em></p>
                        </div>
                        <a href="javascript:">식단보기</a>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input id="check6" type="checkbox">
                            <label for="check6">
                                <span class="profile_img">
                                    <img alt="프로필이미지" src="../assets/images/default-profile.png">
                               </span>
                            </label>
                        </div>
                        <div class="txt_box">
                            <p class="name">김철수 <em class="data">(올해는 살을 꼭 뺄거야!!!!!!)</em></p>
                        </div>
                        <a href="javascript:">식단보기</a>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input id="check7" type="checkbox">
                            <label for="check7">
                                <span class="profile_img">
                                    <img alt="프로필이미지" src="../assets/images/default-profile.png">
                               </span>
                            </label>
                        </div>
                        <div class="txt_box">
                            <p class="name">김철수 <em class="data">(올해는 살을 꼭 뺄거야!!!!!!)</em></p>
                        </div>
                        <a href="javascript:">식단보기</a>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input id="check8" type="checkbox">
                            <label for="check8">
                                <span class="profile_img">
                                    <img alt="프로필이미지" src="../assets/images/default-profile.png">
                               </span>
                            </label>
                        </div>
                        <div class="txt_box">
                            <p class="name">김철수 <em class="data">(올해는 살을 꼭 뺄거야!!!!!!)</em></p>
                        </div>
                        <a href="javascript:">식단보기</a>
                    </li>
                </ul>
                <div class="post_nav">
                    <a class="prev" href="javascript:">
                        <object aria-label="왼쪽 화살표" data="../assets/images/arrow-left.svg"
                                type="image/svg+xml"></object>
                    </a>
                    <a class="num" href="javascript:">1</a>
                    <a class="num" href="javascript:">2</a>
                    <a class="num" href="javascript:">3</a>
                    <a class="num" href="javascript:">4</a>
                    <a class="num" href="javascript:">5</a>
                    <a class="next" href="javascript:">
                        <object aria-label="오른쪽 화살표" data="../assets/images/arrow-right.svg"
                                type="image/svg+xml"></object>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="right_menu">
    <a class="bell" href="javascript:">
        <object aria-label="종아이콘" data="/assets/images/bell-icon.svg" type="image/svg+xml"></object>
    </a>
    <a class="setting" href="javascript:">
        <object aria-label="설정아이콘" data="/assets/images/setting-icon.svg" type="image/svg+xml"></object>
    </a>
    <div class="setting_menu">
        <a href="javascript:">친구관리</a>
    </div>
</div>
<!-- .setting_menu a 클릭했을때 나오는 팝업 -->
<div class="block_friend_popup">
    <div class="inner">
        <div class="pop_close_head">
            <h2 class="title">차단친구 관리</h2>
            <a class="close_btn" href="javascript:">
                <object aria-label="닫기 아이콘" data="../assets/images/close-icon.svg" type="image/svg+xml"></object>
            </a>
        </div>
        <ul class="list_item">
            <li>
                <label class="hidden">이메일 검색</label>
                <input placeholder="이메일 검색" type="text">
            </li>
            <li>
                <div class="checkbox">
                    <input id="check9" type="checkbox">
                    <label for="check9">
                        <span class="profile_img">
                            <img alt="프로필이미지" src="../assets/images/default-profile.png">
                        </span>
                    </label>
                </div>
                <div class="txt_box">
                    <p class="name">김철수 <em class="data">(올해는 살을 꼭 뺄거야!!!!!!)</em></p>
                </div>
                <a href="javascript:">해체</a>
            </li>
            <li>
                <div class="checkbox">
                    <input id="check10" type="checkbox">
                    <label for="check10">
                        <span class="profile_img">
                            <img alt="프로필이미지" src="../assets/images/default-profile.png">
                        </span>
                    </label>
                </div>
                <div class="txt_box">
                    <p class="name">김철수 <em class="data">(올해는 살을 꼭 뺄거야!!!!!!)</em></p>
                </div>
                <a href="javascript:">해체</a>
            </li>
            <li>
                <div class="checkbox">
                    <input id="check11" type="checkbox">
                    <label for="check11">
                                <span class="profile_img">
                                    <img alt="프로필이미지" src="../assets/images/default-profile.png">
                               </span>
                    </label>
                </div>
                <div class="txt_box">
                    <p class="name">김철수 <em class="data">(올해는 살을 꼭 뺄거야!!!!!!)</em></p>
                </div>
                <a href="javascript:">해체</a>
            </li>
            <li>
                <div class="checkbox">
                    <input id="check12" type="checkbox">
                    <label for="check12">
                                <span class="profile_img">
                                    <img alt="프로필이미지" src="../assets/images/default-profile.png">
                               </span>
                    </label>
                </div>
                <div class="txt_box">
                    <p class="name">김철수 <em class="data">(올해는 살을 꼭 뺄거야!!!!!!)</em></p>
                </div>
                <a href="javascript:">해체</a>
            </li>
            <li>
                <div class="checkbox">
                    <input id="check13" type="checkbox">
                    <label for="check13">
                                <span class="profile_img">
                                    <img alt="프로필이미지" src="../assets/images/default-profile.png">
                               </span>
                    </label>
                </div>
                <div class="txt_box">
                    <p class="name">김철수 <em class="data">(올해는 살을 꼭 뺄거야!!!!!!)</em></p>
                </div>
                <a href="javascript:">해체</a>
            </li>
            <li>
                <div class="checkbox">
                    <input id="check14" type="checkbox">
                    <label for="check14">
                                <span class="profile_img">
                                    <img alt="프로필이미지" src="../assets/images/default-profile.png">
                               </span>
                    </label>
                </div>
                <div class="txt_box">
                    <p class="name">김철수 <em class="data">(올해는 살을 꼭 뺄거야!!!!!!)</em></p>
                </div>
                <a href="javascript:">해체</a>
            </li>
        </ul>
        <div class="post_nav">
            <a class="prev" href="javascript:">
                <object aria-label="왼쪽 화살표" data="../assets/images/arrow-left.svg" type="image/svg+xml"></object>
            </a>
            <a class="num" href="javascript:">1</a>
            <a class="num" href="javascript:">2</a>
            <a class="num" href="javascript:">3</a>
            <a class="num" href="javascript:">4</a>
            <a class="num" href="javascript:">5</a>
            <a class="next" href="javascript:">
                <object aria-label="오른쪽 화살표" data="../assets/images/arrow-right.svg" type="image/svg+xml"></object>
            </a>
        </div>
    </div>
</div>
</body>
</html>