<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>모임(찾아보기,내모임,내모임 찾아보기)</title>
    <link href="../assets/css/reset.css" rel="stylesheet">
    <link href="../assets/css/layout.css" rel="stylesheet">
    <link href="../assets/css/popup.css" rel="stylesheet">
    <script defer src="../assets/js/header.js"></script>
</head>
<body>
<header>
    <div class="pc_header">
        <nav class="menu">
            <a href="javascript:">다봄섭취</a>
            <a href="javascript:">오늘일지</a>
            <a href="javascript:">다봄기록</a>
            <a href="javascript:">다봄모임</a>
            <a href="javascript:">다봄달력</a>
        </nav>
        <h1 class="logo">
            <a href="javascript:"><img alt="로고" src="/assets/images/logo.svg"></a>
        </h1>
        <div class="login">
            <a href="javascript:">
                <img alt="로그인 아이콘" src="/assets/images/login-icon.svg">
            </a>
        </div>
    </div>
    <div class="show_mobile">
        <div class="mobile_header">
            <div class="m_header">
                <h1 class="logo">
                    <a href="javascript:">
                        <object aria-label="로고" data="../assets/images/logo.svg" type="image/svg+xml"></object>
                    </a>
                </h1>
                <a class="hamburger" href="javascript:">
                    <div class="line top"></div>
                    <div class="line bottom"></div>
                    <div class="line center"></div>
                </a>
            </div>
            <div class="slide_nav">
                <div class="slide_header">
                    <h1 class="logo">
                        <a href="javascript:">
                            <object aria-label="로고" data="../assets/images/logo.svg" type="image/svg+xml"></object>
                        </a>
                    </h1>
                </div>
                <div class="slide_content">
                    <a href="javascript:">다봄섭취</a>
                    <a href="javascript:">오늘일지</a>
                    <a href="javascript:">다봄기록</a>
                    <a href="javascript:">다봄모임</a>
                    <a href="javascript:">다봄달력</a>
                </div>
                <div class="slide_bottom">
                    <a href="javascript:"><i class="mypage-icon"></i>마이페이지</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <!--   .top_txt >.btn_box>.red_btn 'display: none' 가입되면 보이게 해주세요 -->
    <div class="group_list_wrap">
        <div class="banner_img">
            <img alt="배너이미지" src="../assets/images/ts03.jpg">
        </div>
        <div class="container">
            <div class="bottom_box">
                <div class="top_txt">
                    <h2>종로역 식단관리 모임</h2>
                    <a class="member" href="javascript:">맴버 : 125명 <i class="user_List_icon">
                        <object aria-label="왼쪽 화살표" data="../assets/images/user-list-icon.svg"
                                type="image/svg+xml"></object>
                    </i></a>
                    <div class="btn_box">
                        <a class="gray_btn" href="javascript:">소개보기</a>
                        <a class="red_btn" href="javascript:" style="display: none">채팅하기</a>
                    </div>
                </div>
                <ul class="list_box">
                    <li>
                        <a class="img_box" href="javascript:">
                            <img alt="식단 이미지" src="/assets/images/default-background.png">
                        </a>
                        <div class="info_box">
                            <h2>다봄모임 -10Kg 아자아자</h2>
                            <p class="meal">아침</p>
                            <p class="txt_info">오늘은 피그마로 디자인을 너무 열심히 한 탓에 허기가지고
                                머리가 안돌아가서 타코야끼랑 딸기바나를 먹었지 당떨어지면 달달한게 최고야</p>
                            <div class="bottom">
                                <div class="txt">
                                    <span>유림</span>
                                </div>
                                <div class="right_box">
                                    <p class="date">05 / 03</p>
                                    <a class="comment" href="javascript:">
                                        <i class="comment_icon"><img alt="댓글아이콘" src="/assets/images/comment-icon.svg"></i>
                                        댓글 <em>86</em>개
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="img_box" href="javascript:">
                            <img alt="식단 이미지" src="/assets/images/default-background.png">
                        </a>
                        <div class="info_box">
                            <h2>다봄모임 -10Kg 아자아자</h2>
                            <p class="meal">아침</p>
                            <p class="txt_info">오늘은 피그마로 디자인을 너무 열심히 한 탓에 허기가지고
                                머리가 안돌아가서 타코야끼랑 딸기바나를 먹었지 당떨어지면 달달한게 최고야</p>
                            <div class="bottom">
                                <div class="txt">
                                    <span>유림</span>
                                </div>
                                <div class="right_box">
                                    <p class="date">05 / 03</p>
                                    <a class="comment" href="javascript:">
                                        <i class="comment_icon"><img alt="댓글아이콘" src="/assets/images/comment-icon.svg"></i>
                                        댓글 <em>86</em>개
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="img_box" href="javascript:">
                            <img alt="식단 이미지" src="/assets/images/default-background.png">
                        </a>
                        <div class="info_box">
                            <h2>다봄모임 -10Kg 아자아자</h2>
                            <p class="meal">아침</p>
                            <p class="txt_info">오늘은 피그마로 디자인을 너무 열심히 한 탓에 허기가지고
                                머리가 안돌아가서 타코야끼랑 딸기바나를 먹었지 당떨어지면 달달한게 최고야</p>
                            <div class="bottom">
                                <div class="txt">
                                    <span>유림</span>
                                </div>
                                <div class="right_box">
                                    <p class="date">05 / 03</p>
                                    <a class="comment" href="javascript:">
                                        <i class="comment_icon"><img alt="댓글아이콘" src="/assets/images/comment-icon.svg"></i>
                                        댓글 <em>86</em>개
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="post_nav">
                    <a class="prev" href="javascript:">
                        <object aria-label="왼쪽 화살표" data="../assets/images/arrow-left.svg"
                                type="image/svg+xml"></object>
                    </a>
                    <a class="num" href="javascript:">1</a>
                    <a class="num" href="javascript:">2</a>
                    <a class="num" href="javascript:">3</a>
                    <a class="num" href="javascript:">4</a>
                    <a class="num" href="javascript:">5</a>
                    <a class="next" href="javascript:">
                        <object aria-label="오른쪽 화살표" data="../assets/images/arrow-right.svg"
                                type="image/svg+xml"></object>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- .member 클릭했을때 나오는 팝업 -->
    <div class="group_list_popup">
        <div class="inner">
            <div class="pop_close_head">
                <h2 class="title">그룹 맴버 138</h2>
                <a class="admin_check" href="javascript:">관리자 지정</a>
            </div>
            <ul class="content_box">
                <li>
                    <label class="hidden">유저 이메일</label>
                    <input type="text" placeholder="유저 이메일">
                    <a href="javascript:">초대</a>
                </li>
                <li>
                    <div class="img_box">
                        <img alt="프로필이미지" src="../assets/images/default-profile.png">
                    </div>
                    <p class="name">다봄어터</p>
                    <span><i class="crown_icon"></i>그룹장</span>
                </li>
                <li>
                    <div class="img_box">
                        <img alt="프로필이미지" src="../assets/images/default-profile.png">
                    </div>
                    <p class="name">다봄어터</p>
                    <span><i class="crown_icon"></i>그룹장</span>
                    <div class="checkbox">
                        <input id="check2" type="checkbox">
                        <label for="check2">선택</label>
                    </div>
                </li>
                <li>
                    <div class="img_box">
                        <img alt="프로필이미지" src="../assets/images/default-profile.png">
                    </div>
                    <p class="name">다봄어터</p>
                    <div class="checkbox">
                        <input id="check3" type="checkbox">
                        <label for="check3">선택</label>
                    </div>
                </li>
                <li>
                    <div class="img_box">
                        <img alt="프로필이미지" src="../assets/images/default-profile.png">
                    </div>
                    <p class="name">다봄어터</p>
                    <div class="checkbox">
                        <input id="check4" type="checkbox">
                        <label for="check4">선택</label>
                    </div>
                </li>
                <li>
                    <div class="img_box">
                        <img alt="프로필이미지" src="../assets/images/default-profile.png">
                    </div>
                    <p class="name">다봄어터</p>
                    <div class="checkbox">
                        <input id="check5" type="checkbox">
                        <label for="check5">선택</label>
                    </div>
                </li>
                <li>
                    <div class="img_box">
                        <img alt="프로필이미지" src="../assets/images/default-profile.png">
                    </div>
                    <p class="name">다봄어터</p>
                    <div class="checkbox">
                        <input id="check6" type="checkbox">
                        <label for="check6">선택</label>
                    </div>
                </li>
                <li>
                    <div class="img_box">
                        <img alt="프로필이미지" src="../assets/images/default-profile.png">
                    </div>
                    <p class="name">다봄어터</p>
                    <div class="checkbox">
                        <input id="check7" type="checkbox">
                        <label for="check7">선택</label>
                    </div>
                </li>
            </ul>
            <button class="black_line_btn">뒤로가기</button>
        </div>
    </div>
    <!-- 수정하기 클릭했을때 나오는 팝업 -->
    <div class="group_change_popup">
        <div class="inner">
            <div class="pop_close_head">
                <h2 class="title">그룹 정보 수정</h2>
                <a class="close_btn" href="javascript:">
                    <object aria-label="닫기 아이콘" data="../assets/images/close-icon.svg" type="image/svg+xml"></object>
                </a>
            </div>
            <div class="content_box">
                <div class="filebox">
                    <form action='' method="POST" entype="multipart/form-data">
                        <input type="file" name="file" id="input">
                        <label class="profile_img_box" for="input">
                            <div class="upload_img">
                                <img src="../assets/images/group-add-bg.png" alt="파일 업로드 이미지">
                            </div>
                        </label>
                    </form>
                </div>
                <p class="upload_txt"><i><object data="../assets/images/img-icon.svg" type="image/svg+xml" aria-label="이미지아이콘"></object></i>사진을 <em>업로드</em> 해주세요</p>
                <div class="info_box">
                    <label class="hidden">그룹명</label>
                    <input type="text">
                    <label class="hidden">그룹 소개</label>
                    <textarea name="" id="" rows="8"></textarea>
                </div>
            </div>
            <button class="red_btn">수정하기</button>
        </div>
    </div>

</main>
</body>
</html>