<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>모임(찾아보기,내모임,내모임 찾아보기)</title>
    <link href="../assets/css/reset.css" rel="stylesheet">
    <link href="../assets/css/layout.css" rel="stylesheet">
    <script defer src="../assets/js/header.js"></script>
</head>
<body>
<header>
    <div class="pc_header">
        <nav class="menu">
            <a href="javascript:">다봄섭취</a>
            <a href="javascript:">오늘일지</a>
            <a href="javascript:">다봄기록</a>
            <a href="javascript:">다봄모임</a>
            <a href="javascript:">다봄달력</a>
        </nav>
        <h1 class="logo">
            <a href="javascript:"><img alt="로고" src="/assets/images/logo.svg"></a>
        </h1>
        <div class="login">
            <a href="javascript:">
                <img alt="로그인 아이콘" src="/assets/images/login-icon.svg">
            </a>
        </div>
    </div>
    <div class="show_mobile">
        <div class="mobile_header">
            <div class="m_header">
                <h1 class="logo">
                    <a href="javascript:">
                        <object aria-label="로고" data="../assets/images/logo.svg" type="image/svg+xml"></object>
                    </a>
                </h1>
                <a class="hamburger" href="javascript:">
                    <div class="line top"></div>
                    <div class="line bottom"></div>
                    <div class="line center"></div>
                </a>
            </div>
            <div class="slide_nav">
                <div class="slide_header">
                    <h1 class="logo">
                        <a href="javascript:">
                            <object aria-label="로고" data="../assets/images/logo.svg" type="image/svg+xml"></object>
                        </a>
                    </h1>
                </div>
                <div class="slide_content">
                    <a href="javascript:">다봄섭취</a>
                    <a href="javascript:">오늘일지</a>
                    <a href="javascript:">다봄기록</a>
                    <a href="javascript:">다봄모임</a>
                    <a href="javascript:">다봄달력</a>
                </div>
                <div class="slide_bottom">
                    <a href="javascript:"><i class="mypage-icon"></i>마이페이지</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <!--    각각 .tab_menu > li에 on 들어 올때 .more, my , my_more display: none 처리 해주세요 -->
    <div class="group_wrap">
        <div class="container">
            <div>
                <ul class="tab_menu">
                    <li class="on">
                        <a href="javascript:">찾아보기</a>
                    </li>
                    <li><a href="javascript:">내모임</a></li>
                    <li><a href="javascript:">내가만든모임</a></li>
                </ul>
                <div class="search_box">
                    <input placeholder="내 모임 찾기" type="search">
                    <button>
                        <object aria-label="검색아이콘" data="../assets/images/search-icon.svg"
                                type="image/svg+xml"></object>
                    </button>
                </div>
                <div>
                    <ul class="more group" style="display: none">
                        <li>
                            <div class="img_box">
                                <img alt="게시글 이미지" src="../assets/images/test.jpg">
                            </div>
                            <div class="info_box">
                                <p class="title">종로역 식단관리 모임</p>
                                <p class="sub_txt">맴버: 125명</p>
                                <a href="javascript:">가입하기</a>
                            </div>
                        </li>
                        <li>
                            <div class="img_box">
                                <img alt="게시글 이미지" src="../assets/images/default-background.png">
                            </div>
                            <div class="info_box">
                                <p class="title">종로역 식단관리 모임</p>
                                <p class="sub_txt">맴버: 125명</p>
                                <a href="javascript:">가입하기</a>
                            </div>
                        </li>
                        <li>
                            <div class="img_box">
                                <img alt="게시글 이미지" src="../assets/images/default-background.png">
                            </div>
                            <div class="info_box">
                                <p class="title">종로역 식단관리 모임</p>
                                <p class="sub_txt">맴버: 125명</p>
                                <a href="javascript:">가입하기</a>
                            </div>
                        </li>
                        <li>
                            <div class="img_box">
                                <img alt="게시글 이미지" src="../assets/images/default-background.png">
                            </div>
                            <div class="info_box">
                                <p class="title">종로역 식단관리 모임</p>
                                <p class="sub_txt">맴버: 125명</p>
                                <a href="javascript:">가입하기</a>
                            </div>
                        </li>
                        <li>
                            <div class="img_box">
                                <img alt="게시글 이미지" src="../assets/images/default-background.png">
                            </div>
                            <div class="info_box">
                                <p class="title">종로역 식단관리 모임</p>
                                <p class="sub_txt">맴버: 125명</p>
                                <a href="javascript:">가입하기</a>
                            </div>
                        </li>
                        <li>
                            <div class="img_box">
                                <img alt="게시글 이미지" src="../assets/images/default-background.png">
                            </div>
                            <div class="info_box">
                                <p class="title">종로역 식단관리 모임</p>
                                <p class="sub_txt">맴버: 125명</p>
                                <a href="javascript:">가입하기</a>
                            </div>
                        </li>
                        <li>
                            <div class="img_box">
                                <img alt="게시글 이미지" src="../assets/images/default-background.png">
                            </div>
                            <div class="info_box">
                                <p class="title">종로역 식단관리 모임</p>
                                <p class="sub_txt">맴버: 125명</p>
                                <a href="javascript:">가입하기</a>
                            </div>
                        </li>
                        <li>
                            <div class="img_box">
                                <img alt="게시글 이미지" src="../assets/images/default-background.png">
                            </div>
                            <div class="info_box">
                                <p class="title">종로역 식단관리 모임</p>
                                <p class="sub_txt">맴버: 125명</p>
                                <a href="javascript:">가입하기</a>
                            </div>
                        </li>
                        <li>
                            <div class="img_box">
                                <img alt="게시글 이미지" src="../assets/images/default-background.png">
                            </div>
                            <div class="info_box">
                                <p class="title">종로역 식단관리 모임</p>
                                <p class="sub_txt">맴버: 125명</p>
                                <a href="javascript:">가입하기</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="my group" style="display: none">
                        <li>
                            <div class="img_box">
                                <img alt="게시글 이미지" src="../assets/images/test.jpg">
                            </div>
                            <div class="info_box">
                                <p class="title">종로역 식단관리 모임</p>
                                <p class="sub_txt">맴버: 125명</p>
                                <a class="black_btn" href="javascript:">탈퇴하기</a>
                            </div>
                        </li>
                        <li>
                            <div class="img_box">
                                <img alt="게시글 이미지" src="../assets/images/default-background.png">
                            </div>
                            <div class="info_box">
                                <p class="title">종로역 식단관리 모임</p>
                                <p class="sub_txt">맴버: 125명</p>
                                <a class="black_btn" href="javascript:">탈퇴하기</a>
                            </div>
                        </li>
                        <li>
                            <div class="img_box">
                                <img alt="게시글 이미지" src="../assets/images/default-background.png">
                            </div>
                            <div class="info_box">
                                <p class="title">종로역 식단관리 모임</p>
                                <p class="sub_txt">맴버: 125명</p>
                                <a class="black_btn" href="javascript:">탈퇴하기</a>
                            </div>
                        </li>
                        <li>
                            <div class="img_box">
                                <img alt="게시글 이미지" src="../assets/images/default-background.png">
                            </div>
                            <div class="info_box">
                                <p class="title">종로역 식단관리 모임</p>
                                <p class="sub_txt">맴버: 125명</p>
                                <a class="black_btn" href="javascript:">탈퇴하기</a>
                            </div>
                        </li>
                        <li>
                            <div class="img_box">
                                <img alt="게시글 이미지" src="../assets/images/default-background.png">
                            </div>
                            <div class="info_box">
                                <p class="title">종로역 식단관리 모임</p>
                                <p class="sub_txt">맴버: 125명</p>
                                <a class="black_btn" href="javascript:">탈퇴하기</a>
                            </div>
                        </li>
                        <li>
                            <div class="img_box">
                                <img alt="게시글 이미지" src="../assets/images/default-background.png">
                            </div>
                            <div class="info_box">
                                <p class="title">종로역 식단관리 모임</p>
                                <p class="sub_txt">맴버: 125명</p>
                                <a class="black_btn" href="javascript:">탈퇴하기</a>
                            </div>
                        </li>
                        <li>
                            <div class="img_box">
                                <img alt="게시글 이미지" src="../assets/images/default-background.png">
                            </div>
                            <div class="info_box">
                                <p class="title">종로역 식단관리 모임</p>
                                <p class="sub_txt">맴버: 125명</p>
                                <a class="black_btn" href="javascript:">탈퇴하기</a>
                            </div>
                        </li>
                        <li>
                            <div class="img_box">
                                <img alt="게시글 이미지" src="../assets/images/default-background.png">
                            </div>
                            <div class="info_box">
                                <p class="title">종로역 식단관리 모임</p>
                                <p class="sub_txt">맴버: 125명</p>
                                <a class="black_btn" href="javascript:">탈퇴하기</a>
                            </div>
                        </li>
                        <li>
                            <div class="img_box">
                                <img alt="게시글 이미지" src="../assets/images/default-background.png">
                            </div>
                            <div class="info_box">
                                <p class="title">종로역 식단관리 모임</p>
                                <p class="sub_txt">맴버: 125명</p>
                                <a class="black_btn" href="javascript:">탈퇴하기</a>
                            </div>
                        </li>
                    </ul>
                    <div class="my_more">
                        <ul class="group">
                            <li>
                                <div class="img_box">
                                    <img alt="게시글 이미지" src="../assets/images/test.jpg">
                                </div>
                                <div class="info_box">
                                    <p class="title">종로역 식단관리 모임</p>
                                    <p class="sub_txt">맴버: 125명</p>
                                    <div class="btn_box">
                                        <a class="gray_btn" href="javascript:">수정</a>
                                        <a class="black_btn" href="javascript:">삭제</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="img_box">
                                    <img alt="게시글 이미지" src="../assets/images/default-background.png">
                                </div>
                                <div class="info_box">
                                    <p class="title">종로역 식단관리 모임</p>
                                    <p class="sub_txt">맴버: 125명</p>
                                    <div class="btn_box">
                                        <a class="gray_btn" href="javascript:">수정</a>
                                        <a class="black_btn" href="javascript:">삭제</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="img_box">
                                    <img alt="게시글 이미지" src="../assets/images/default-background.png">
                                </div>
                                <div class="info_box">
                                    <p class="title">종로역 식단관리 모임</p>
                                    <p class="sub_txt">맴버: 125명</p>
                                    <div class="btn_box">
                                        <a class="gray_btn" href="javascript:">수정</a>
                                        <a class="black_btn" href="javascript:">삭제</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="img_box">
                                    <img alt="게시글 이미지" src="../assets/images/default-background.png">
                                </div>
                                <div class="info_box">
                                    <p class="title">종로역 식단관리 모임</p>
                                    <p class="sub_txt">맴버: 125명</p>
                                    <div class="btn_box">
                                        <a class="gray_btn" href="javascript:">수정</a>
                                        <a class="black_btn" href="javascript:">삭제</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="img_box">
                                    <img alt="게시글 이미지" src="../assets/images/default-background.png">
                                </div>
                                <div class="info_box">
                                    <p class="title">종로역 식단관리 모임</p>
                                    <p class="sub_txt">맴버: 125명</p>
                                    <div class="btn_box">
                                        <a class="gray_btn" href="javascript:">수정</a>
                                        <a class="black_btn" href="javascript:">삭제</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="img_box">
                                    <img alt="게시글 이미지" src="../assets/images/default-background.png">
                                </div>
                                <div class="info_box">
                                    <p class="title">종로역 식단관리 모임</p>
                                    <p class="sub_txt">맴버: 125명</p>
                                    <div class="btn_box">
                                        <a class="gray_btn" href="javascript:">수정</a>
                                        <a class="black_btn" href="javascript:">삭제</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="img_box">
                                    <img alt="게시글 이미지" src="../assets/images/default-background.png">
                                </div>
                                <div class="info_box">
                                    <p class="title">종로역 식단관리 모임</p>
                                    <p class="sub_txt">맴버: 125명</p>
                                    <div class="btn_box">
                                        <a class="gray_btn" href="javascript:">수정</a>
                                        <a class="black_btn" href="javascript:">삭제</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="img_box">
                                    <img alt="게시글 이미지" src="../assets/images/default-background.png">
                                </div>
                                <div class="info_box">
                                    <p class="title">종로역 식단관리 모임</p>
                                    <p class="sub_txt">맴버: 125명</p>
                                    <div class="btn_box">
                                        <a class="gray_btn" href="javascript:">수정</a>
                                        <a class="black_btn" href="javascript:">삭제</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="img_box">
                                    <img alt="게시글 이미지" src="../assets/images/default-background.png">
                                </div>
                                <div class="info_box">
                                    <p class="title">종로역 식단관리 모임</p>
                                    <p class="sub_txt">맴버: 125명</p>
                                    <div class="btn_box">
                                        <a class="gray_btn" href="javascript:">수정</a>
                                        <a class="black_btn" href="javascript:">삭제</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a class="more_btn" href="javascript:">모임 만들기</a>
                    </div>
                </div>
                <div class="post_nav">
                    <a class="prev" href="javascript:">
                        <object aria-label="왼쪽 화살표" data="../assets/images/arrow-left.svg"
                                type="image/svg+xml"></object>
                    </a>
                    <a class="num" href="javascript:">1</a>
                    <a class="num" href="javascript:">2</a>
                    <a class="num" href="javascript:">3</a>
                    <a class="num" href="javascript:">4</a>
                    <a class="num" href="javascript:">5</a>
                    <a class="next" href="javascript:">
                        <object aria-label="오른쪽 화살표" data="../assets/images/arrow-right.svg"
                                type="image/svg+xml"></object>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>