<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>메인페이지</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/layout.css">
</head>
<body>
<header>
    <div class="pc_header">
        <nav class="menu">
            <a href="javascript:">다봄섭취</a>
            <a href="javascript:">오늘일지</a>
            <a href="javascript:">다봄기록</a>
            <a href="javascript:">다봄모임</a>
            <a href="javascript:">다봄달력</a>
        </nav>
        <h1 class="logo">
            <a href="javascript:"><img src="/assets/images/logo.svg" alt="로고"></a>
        </h1>
        <div class="login">
            <a href="javascript:">
                <img src="/assets/images/login-icon.svg" alt="로그인 아이콘">
            </a>
        </div>
    </div>
</header>
<main>
    <section class="hero_wrap">
        <div class="container">
            <div class="text_box">
                <span class="top_txt">Welcome 잘왔다봄</span>
                <div class="bottom_txt">
                    <em>다</em>이어트 하는 거<br>
                    다 지켜<em>봄</em>!
                </div>
            </div>
            <div class="img_box">
                <img src="/assets/images/dabom-character.png" alt="다봄캐릭터">
            </div>
        </div>
    </section>
    <section>
        <div class="container"></div>
    </section>
    <section>
        <div class="container"></div>
    </section>
    <section>
        <div class="container"></div>
    </section>
</main>
<footer></footer>
</body>
</html>