<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>메인페이지</title>
    <link href="../assets/css/reset.css" rel="stylesheet">
    <link href="../assets/css/layout.css" rel="stylesheet">
    <link href="../assets/css/swiper-bundle.min.css" rel="stylesheet">
    <script defer src="../assets/js/swiper-bundle.min.js"></script>
    <script defer src="../assets/js/swiper.js"></script>
    <script defer src="../assets/js/header.js"></script>
</head>
<body>
<header>
    <div class="pc_header">
        <nav class="menu">
            <a href="javascript:">다봄섭취</a>
            <a href="javascript:">오늘일지</a>
            <a href="javascript:">다봄기록</a>
            <a href="javascript:">다봄모임</a>
            <a href="javascript:">다봄달력</a>
        </nav>
        <h1 class="logo">
            <a href="javascript:"><img alt="로고" src="/assets/images/logo.svg"></a>
        </h1>
        <div class="login">
            <a href="javascript:">
                <img alt="로그인 아이콘" src="/assets/images/login-icon.svg">
            </a>
        </div>
    </div>
    <div class="show_mobile">
        <div class="mobile_header">
            <div class="m_header">
                <h1 class="logo">
                    <a href="javascript:">
                        <object aria-label="로고" data="../assets/images/logo.svg" type="image/svg+xml"></object>
                    </a>
                </h1>
                <a class="hamburger" href="javascript:">
                    <div class="line top"></div>
                    <div class="line bottom"></div>
                    <div class="line center"></div>
                </a>
            </div>
            <div class="slide_nav">
                <div class="slide_header">
                    <h1 class="logo">
                        <a href="javascript:">
                            <object aria-label="로고" data="../assets/images/logo.svg" type="image/svg+xml"></object>
                        </a>
                    </h1>
                </div>
                <div class="slide_content">
                    <a href="javascript:">다봄섭취</a>
                    <a href="javascript:">오늘일지</a>
                    <a href="javascript:">다봄기록</a>
                    <a href="javascript:">다봄모임</a>
                    <a href="javascript:">다봄달력</a>
                </div>
                <div class="slide_bottom">
                    <a href="javascript:"><i class="mypage-icon"></i>마이페이지</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <section class="hero_wrap">
        <div class="container">
            <div class="text_box">
                <span class="top_txt">Welcome 잘왔다봄</span>
                <div class="bottom_txt">
                    <em>다</em>이어트 하는 거<br>
                    다 지켜<em>봄</em>!
                </div>
            </div>
            <div class="img_box">
                <img alt="다봄캐릭터" src="/assets/images/dabom-character.png">
            </div>
        </div>
    </section>
    <section class="food_search_wrap">
        <div class="container">
            <div class="left_box">
                <h2 class="title">거기너 !<br>오늘 섭취한 칼로리가 궁금하지 않아?</h2>
                <p class="sub_txt">칼로리 확인하러 가보자고 !</p>
                <div class="search_box">
                    <input placeholder="오늘 섭취한 음식칼로리를  확인해보세요" type="text">
                </div>
            </div>
            <div class="category_box">
                <div class="category_item">
                    <picture>
                        <img alt="" src="../assets/images/food-01.png">
                    </picture>
                    <span class="cate_name">간편식사</span>
                </div>
                <div class="category_item">
                    <picture>
                        <img alt="" src="../assets/images/food-02.png">
                    </picture>
                    <span class="cate_name">샐러드</span>
                </div>
                <div class="category_item">
                    <picture>
                        <img alt="" src="../assets/images/food-03.png">
                    </picture>
                    <span class="cate_name">볶음요리</span>
                </div>
                <div class="category_item">
                    <picture>
                        <img alt="" src="../assets/images/food-04.png">
                    </picture>
                    <span class="cate_name">육류</span>
                </div>
                <div class="category_item">
                    <picture>
                        <img alt="" src="../assets/images/food-05.png">
                    </picture>
                    <span class="cate_name">음료</span>
                </div>
                <div class="category_item">
                    <picture>
                        <img alt="" src="../assets/images/food-06.png">
                    </picture>
                    <span class="cate_name">도시락</span>
                </div>
                <div class="category_item">
                    <picture>
                        <img alt="" src="../assets/images/food-07.png">
                    </picture>
                    <span class="cate_name">과일</span>
                </div>
            </div>
        </div>
    </section>
    <section class="story_wrap">
        <div class="container">
            <div class="story_top">
                <h2 class="title">Cooking Story</h2>
                <object class="line" aria-label="지그재그이미지" data="../assets/images/zigzag-01.svg" type="image/svg+xml"></object>
                <div class="swiper-button-prev">
                    <object aria-label="왼쪽 화살표" data="../assets/images/swiper-arrow-left.svg"
                            type="image/svg+xml"></object>
                </div>
                <div class="swiper-button-next">
                    <object aria-label="오른쪽 화살표" data="../assets/images/swiper-arrow-right.svg"
                            type="image/svg+xml"></object>
                </div>
            </div>
            <div class="story_slide">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="javascript:">
                            <div class="img_box">
                                <img alt="식단이미지" src="../assets/images/default-background.png">
                            </div>
                            <div class="buttom_box">
                                <div class="pattern">
                                    <object aria-label="지그재그 이미지" data="../assets/images/zigzag-05svg.svg"
                                            type="image/svg+xml"></object>
                                </div>
                                <div class="txt">more</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:">
                            <div class="img_box">
                                <img alt="식단이미지" src="../assets/images/default-background.png">
                            </div>
                            <div class="buttom_box">
                                <div class="pattern">
                                    <object aria-label="지그재그 이미지" data="../assets/images/zigzag-05svg.svg"
                                            type="image/svg+xml"></object>
                                </div>
                                <div class="txt">more</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:">
                            <div class="img_box">
                                <img alt="식단이미지" src="../assets/images/default-background.png">
                            </div>
                            <div class="buttom_box">
                                <div class="pattern">
                                    <object aria-label="지그재그 이미지" data="../assets/images/zigzag-05svg.svg"
                                            type="image/svg+xml"></object>
                                </div>
                                <div class="txt">more</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:">
                            <div class="img_box">
                                <img alt="식단이미지" src="../assets/images/default-background.png">
                            </div>
                            <div class="buttom_box">
                                <div class="pattern">
                                    <object aria-label="지그재그 이미지" data="../assets/images/zigzag-05svg.svg"
                                            type="image/svg+xml"></object>
                                </div>
                                <div class="txt">more</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:">
                            <div class="img_box">
                                <img alt="식단이미지" src="../assets/images/default-background.png">
                            </div>
                            <div class="buttom_box">
                                <div class="pattern">
                                    <object aria-label="지그재그 이미지" data="../assets/images/zigzag-05svg.svg"
                                            type="image/svg+xml"></object>
                                </div>
                                <div class="txt">more</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="food_diary_wrap">
        <div class="container"></div>
    </section>
</main>
<footer></footer>
</body>
</html>