<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/layout.css">
</head>
<body>
<main>
    <div class="login_wrap">
        <div class="container">
            <h1 class="logo">
                <a href="javascript:"><img src="../assets/images/logo.svg" alt="로고"></a>
            </h1>
            <form action="#">
                <div class="member_group">
                    <label for="login_email" class="hidden">이메일</label>
                    <input id="login_email" type="text" placeholder="이메일">
                    <label for="login_pw">비밀번호</label>
                    <input id="login_pw" type="password" placeholder="비밀번호">
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="save">
                    <label for="save">로그인상태유지</label>
                </div>
                <div class="btn">
                    <input type="submit" value="로그인">
                </div>
                <div class="util_box">
                    <a href="javascript:">아이디 · 비밀번호 찾기</a>
                    <a href="javascript:">아직도 회원이 아니세요? <em>가입하기</em></a>
                </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>