<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>마이페이지</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/layout.css">
</head>
<body>
 <div class="mypage_wrap">
     <div class="container">
         <nav class="left_box">
             <h1 class="logo">
                 <a href="javascript:"><img src="../assets/images/logo.svg" alt="로고"></a>
             </h1>
             <ul class="nav_list">
                 <li>
                     <a href="javascript:">마이다봄</a>
                 </li>
                 <li>
                     <a href="javascript:">다봄게시물</a>
                 </li>
                 <li>
                     <a href="javascript:">다봄친구</a>
                 </li>
                 <li>
                     <a href="javascript:">회원탈퇴</a>
                 </li>
             </ul>
         </nav>
         <div class="right_box">
             <div class="filebox">
                 <form action='/chat/uploadfile' method="POST" entype="multipart/form-data">
                     <input type="file" name="file" id="input">
                     <label class="profile_img_box" for="input">
                        <span class="profile_img">
                                <img src="../assets/images/default-profile.png" alt="프로필이미지">
                        </span>
                         <i class="camera_icon"></i>
                     </label>
                 </form>
             </div>
             <form>
                 <div class="form_list">
                     <div class="from_group">
                         <h3>상태메세지</h3>
                         <input type="text" placeholder="상태메세지를 입력하세요">
                     </div>
                     <div class="from_group">
                         <h3>이메일</h3>
                         <input type="text" placeholder="이메일">
                     </div>
                     <div class="from_group">
                         <h3>이름</h3>
                         <input type="text" placeholder="이름을(를) 입력하세요">
                     </div>
                     <div class="from_group">
                         <h3>성별</h3>
                         <div class="radio-list">
                             <div class="radio-box">
                                 <input type="radio" id="man"/>
                                 <label for="man">남자</label>
                             </div>
                             <div class="radio-box">
                                 <input type="radio" id="woman"/>
                                 <label for="woman">여자</label>
                             </div>
                             <div class="radio-box">
                                 <input type="radio" id="private"/>
                                 <label for="private">비공개</label>
                             </div>
                         </div>
                     </div>
                     <div class="from_group">
                         <h3>키(cm)<em>정보를 입력하지 않으면 제공되는 정보가 제한될수 있습니다.</em></h3>
                         <input type="text" placeholder="키cm을(를) 입력하세요">
                     </div>
                     <div class="from_group">
                         <h3>몸무게<em>정보를 입력하지 않으면 제공되는 정보가 제한될수 있습니다.</em></h3>
                         <input type="text" placeholder="몸무게kg를(을) 입력하세요">
                     </div>
                     <div class="from_group">
                         <h3>생년월일</h3>
                         <div class="birth_box">
                             <input type="number" placeholder="년">
                             <select>
                                 <option value="">월</option>
                                 <option value="">1월</option>
                                 <option value="">2월</option>
                                 <option value="">3월</option>
                                 <option value="">4월</option>
                                 <option value="">5월</option>
                                 <option value="">6월</option>
                                 <option value="">7월</option>
                                 <option value="">8월</option>
                                 <option value="">9월</option>
                                 <option value="">10월</option>
                                 <option value="">11월</option>
                                 <option value="">12월</option>
                             </select>
                             <input type="number" placeholder="일">
                         </div>
                     </div>
                 </div>
                 <button type="submit">가입하기</button>
             </form>
         </div>
     </div>
 </div>
</body>
</html>