<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>마이페이지</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/layout.css">
</head>
<body>
<!-- .info_box 클릭하면 체크박스 같이 클릭되게 해주세요 -->
<!-- .post_nav 연결해주세요  -->
<div class="mypage_wrap">
    <div class="container">
        <nav class="left_box">
            <h1 class="logo">
                <a href="javascript:"><img src="../assets/images/logo.svg" alt="로고"></a>
            </h1>
            <ul class="nav_list">
                <li>
                    <a href="javascript:">마이다봄</a>
                </li>
                <li class="on">
                    <a href="javascript:">다봄게시물</a>
                </li>
                <li>
                    <a href="javascript:">다봄친구</a>
                </li>
                <li>
                    <a href="javascript:">회원탈퇴</a>
                </li>
            </ul>
        </nav>
        <div class="right_box">
            <div class="post_group">
                <ul>
                    <li>
                        <div class="checkbox">
                            <input type="checkbox" id="save1">
                            <label for="save1">체크박스</label>
                        </div>
                        <span class="kcal">1280Kcal</span>
                        <a href="javascript:">
                            <img src="../assets/images/test.jpg" alt="게시글 이미지">
                        </a>
                        <div class="info_box">
                            <p class="title">2023-04-26</p>
                            <p class="sub_txt">오늘은 소금빵을 사먹었다 소금빵은 너무 맛있어 냠냠냠</p>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input type="checkbox" id="save2">
                            <label for="save2">체크박스</label>
                        </div>
                        <span class="kcal">1280Kcal</span>
                        <a href="javascript:">
                            <img src="../assets/images/default-background.png" alt="게시글 이미지">
                        </a>
                        <div class="info_box">
                            <p class="title">2023-04-26</p>
                            <p class="sub_txt">오늘은 소금빵을 사먹었다 소금빵은 너무 맛있어 냠냠냠</p>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input type="checkbox" id="save3">
                            <label for="save3">체크박스</label>
                        </div>
                        <span class="kcal">1280Kcal</span>
                        <a href="javascript:">
                            <img src="../assets/images/default-background.png" alt="게시글 이미지">
                        </a>
                        <div class="info_box">
                            <p class="title">2023-04-26</p>
                            <p class="sub_txt">오늘은 소금빵을 사먹었다 소금빵은 너무 맛있어 냠냠냠</p>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input type="checkbox" id="save4">
                            <label for="save4">체크박스</label>
                        </div>
                        <span class="kcal">1280Kcal</span>
                        <a href="javascript:">
                            <img src="../assets/images/default-background.png" alt="게시글 이미지">
                        </a>
                        <div class="info_box">
                            <p class="title">2023-04-26</p>
                            <p class="sub_txt">오늘은 소금빵을 사먹었다 소금빵은 너무 맛있어 냠냠냠</p>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input type="checkbox" id="save5">
                            <label for="save5">체크박스</label>
                        </div>
                        <span class="kcal">1280Kcal</span>
                        <a href="javascript:">
                            <img src="../assets/images/default-background.png" alt="게시글 이미지">
                        </a>
                        <div class="info_box">
                            <p class="title">2023-04-26</p>
                            <p class="sub_txt">오늘은 소금빵을 사먹었다 소금빵은 너무 맛있어 냠냠냠</p>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input type="checkbox" id="save6">
                            <label for="save6">체크박스</label>
                        </div>
                        <span class="kcal">1280Kcal</span>
                        <a href="javascript:">
                            <img src="../assets/images/default-background.png" alt="게시글 이미지">
                        </a>
                        <div class="info_box">
                            <p class="title">2023-04-26</p>
                            <p class="sub_txt">오늘은 소금빵을 사먹었다 소금빵은 너무 맛있어 냠냠냠</p>
                        </div>
                    </li>
                </ul>
                <div class="post_nav">
                    <a class="prev" href="javascript:"> <object data="../assets/images/arrow-left.svg" type="image/svg+xml" aria-label="왼쪽 화살표"></object></a>
                    <a class="num" href="javascript:">1</a>
                    <a class="num" href="javascript:">2</a>
                    <a class="num" href="javascript:">3</a>
                    <a class="num" href="javascript:">4</a>
                    <a class="num" href="javascript:">5</a>
                    <a class="next" href="javascript:">
                        <object data="../assets/images/arrow-right.svg" type="image/svg+xml" aria-label="오른쪽 화살표"></object>
                    </a>
                </div>
                <div class="btn_box">
                    <a class="red_line_btn" href="javascript:">공유하기</a>
                    <a class="red_btn" href="javascript:">삭제하기</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="right_menu">
    <a class="bell" href="javascript:">
        <img src="/assets/images/bell-icon.svg" alt="종아이콘">
    </a>
</div>
</body>
</html>