<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>다봄기록(내기록,우리기록)</title>
    <link href="../assets/css/reset.css" rel="stylesheet">
    <link href="../assets/css/layout.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script defer src="../assets/js/header.js"></script>
    <script defer src="../assets/js/yearpicker.js"></script>
</head>
<body>
<header>
    <div class="pc_header">
        <nav class="menu">
            <a href="javascript:">다봄섭취</a>
            <a href="javascript:">오늘일지</a>
            <a href="javascript:">다봄기록</a>
            <a href="javascript:">다봄모임</a>
            <a href="javascript:">다봄달력</a>
        </nav>
        <h1 class="logo">
            <a href="javascript:"><img alt="로고" src="/assets/images/logo.svg"></a>
        </h1>
        <div class="login">
            <a href="javascript:">
                <img alt="로그인 아이콘" src="/assets/images/login-icon.svg">
            </a>
        </div>
    </div>
    <div class="show_mobile">
        <div class="mobile_header">
            <div class="m_header">
                <h1 class="logo">
                    <a href="javascript:">
                        <object aria-label="로고" data="../assets/images/logo.svg" type="image/svg+xml"></object>
                    </a>
                </h1>
                <a class="hamburger" href="javascript:">
                    <div class="line top"></div>
                    <div class="line bottom"></div>
                    <div class="line center"></div>
                </a>
            </div>
            <div class="slide_nav">
                <div class="slide_header">
                    <h1 class="logo">
                        <a href="javascript:">
                            <object aria-label="로고" data="../assets/images/logo.svg" type="image/svg+xml"></object>
                        </a>
                    </h1>
                </div>
                <div class="slide_content">
                    <a href="javascript:">다봄섭취</a>
                    <a href="javascript:">오늘일지</a>
                    <a href="javascript:">다봄기록</a>
                    <a href="javascript:">다봄모임</a>
                    <a href="javascript:">다봄달력</a>
                </div>
                <div class="slide_bottom">
                    <a href="javascript:"><i class="mypage-icon"></i>마이페이지</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <!--    각각 .tab_menu > li에 on 들어 올때 .my_record, our_record display: none 처리 해주세요 -->
    <!-- .month_item a태그에 .on 들어갈때로 스타일 줬어요 -->
    <div class="record_wrap">
        <div class="container">
            <ul class="tab_menu">
                <li class="on">
                    <a href="javascript:">내기록</a>
                </li>
                <li><a href="javascript:">우리의 기록</a></li>
            </ul>
            <div class="year_box">
                <input class="yearpicker form-control" type="text" value=""/>
            </div>
            <div class="month_item">
                <a class="on" href="javascript:">1월</a>
                <a href="javascript:">2월</a>
                <a href="javascript:">3월</a>
                <a href="javascript:">4월</a>
                <a href="javascript:">5월</a>
                <a href="javascript:">6월</a>
                <a href="javascript:">7월</a>
                <a href="javascript:">8월</a>
                <a href="javascript:">9월</a>
                <a href="javascript:">10월</a>
                <a href="javascript:">11월</a>
                <a href="javascript:">12월</a>
            </div>
            <div class="check_item">
                <div class="checkbox">
                    <input id="checkall" type="checkbox">
                    <label for="checkall">전체선택</label>
                </div>
                <div class="btn">
                    <a href="javascript:">삭제</a>
                </div>
            </div>
            <div class="record_box">
                <ul class="my_record" style="display: none">
                    <li>
                        <div class="img_box" href="javascript:">
                            <img alt="식단 이미지" src="/assets/images/test.jpg">
                        </div>
                        <div class="info_box">
                            <h2>다봄모임 -10Kg 아자아자</h2>
                            <p class="date">05/03</p>
                            <p class="txt_info">오늘은 피그마로 디자인을 너무 열심히 한 탓에 허기가지고
                                머리가 안돌아가서 타코야끼랑 딸기바나를 먹었지 당떨어지면 달달한게 최고야</p>
                            <div class="bottom">
                                <div class="txt">
                                    <span class="y_txt">아침</span>
                                    <span class="kcal">380 kcal</span>
                                </div>
                                <div class="checkbox">
                                    <input id="check1" type="checkbox">
                                    <label for="check1">체크하기</label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="img_box" href="javascript:">
                            <img alt="식단 이미지" src="/assets/images/default-background.png">
                        </div>
                        <div class="info_box">
                            <h2>다봄모임 -10Kg 아자아자</h2>
                            <p class="date">05/03</p>
                            <p class="txt_info">오늘은 피그마로 디자인을 너무 열심히 한 탓에 허기가지고
                                머리가 안돌아가서 타코야끼랑 딸기바나를 먹었지 당떨어지면 달달한게 최고야</p>
                            <div class="bottom">
                                <div class="txt">
                                    <span class="y_txt">아침</span>
                                    <span class="kcal">380 kcal</span>
                                </div>
                                <div class="checkbox">
                                    <input id="check2" type="checkbox">
                                    <label for="check2">체크하기</label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="img_box" href="javascript:">
                            <img alt="식단 이미지" src="/assets/images/default-background.png">
                        </div>
                        <div class="info_box">
                            <h2>다봄모임 -10Kg 아자아자</h2>
                            <p class="date">05/03</p>
                            <p class="txt_info">오늘은 피그마로 디자인을 너무 열심히 한 탓에 허기가지고
                                머리가 안돌아가서 타코야끼랑 딸기바나를 먹었지 당떨어지면 달달한게 최고야</p>
                            <div class="bottom">
                                <div class="txt">
                                    <span class="y_txt">아침</span>
                                    <span class="kcal">380 kcal</span>
                                </div>
                                <div class="checkbox">
                                    <input id="check3" type="checkbox">
                                    <label for="check3">체크하기</label>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="our_record">
                    <li>
                        <a class="img_box" href="javascript:">
                            <img alt="식단 이미지" src="/assets/images/default-background.png">
                        </a>
                        <div class="info_box">
                            <h2>다봄모임 -10Kg 아자아자</h2>
                            <p class="date">05/03</p>
                            <p class="txt_info">오늘은 피그마로 디자인을 너무 열심히 한 탓에 허기가지고
                                머리가 안돌아가서 타코야끼랑 딸기바나를 먹었지 당떨어지면 달달한게 최고야</p>
                            <div class="bottom">
                                <div class="txt">
                                    <span class="y_txt">연인과</span>
                                    <span class="r_txt">유림</span>
                                </div>
                                <div class="right_box">
                                    <a class="comment" href="javascript:">
                                        <i class="comment_icon"><img alt="댓글아이콘" src="/assets/images/comment-icon.svg"></i>
                                        댓글 <em>0</em>개
                                    </a>
                                    <div class="checkbox">
                                        <input id="check4" type="checkbox">
                                        <label for="check3">체크하기</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="img_box" href="javascript:">
                            <img alt="식단 이미지" src="/assets/images/default-background.png">
                        </a>
                        <div class="info_box">
                            <h2>다봄모임 -10Kg 아자아자</h2>
                            <p class="date">05/03</p>
                            <p class="txt_info">오늘은 피그마로 디자인을 너무 열심히 한 탓에 허기가지고
                                머리가 안돌아가서 타코야끼랑 딸기바나를 먹었지 당떨어지면 달달한게 최고야</p>
                            <div class="bottom">
                                <div class="txt">
                                    <span class="y_txt">연인과</span>
                                    <span class="r_txt">유림</span>
                                </div>
                                <div class="right_box">
                                    <a class="comment" href="javascript:">
                                        <i class="comment_icon"><img alt="댓글아이콘" src="/assets/images/comment-icon.svg"></i>
                                        댓글 <em>0</em>개
                                    </a>
                                    <div class="checkbox">
                                        <input id="check5" type="checkbox">
                                        <label for="check3">체크하기</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="img_box" href="javascript:">
                            <img alt="식단 이미지" src="/assets/images/default-background.png">
                        </a>
                        <div class="info_box">
                            <h2>다봄모임 -10Kg 아자아자</h2>
                            <p class="date">05/03</p>
                            <p class="txt_info">오늘은 피그마로 디자인을 너무 열심히 한 탓에 허기가지고
                                머리가 안돌아가서 타코야끼랑 딸기바나를 먹었지 당떨어지면 달달한게 최고야</p>
                            <div class="bottom">
                                <div class="txt">
                                    <span class="y_txt">연인과</span>
                                    <span class="r_txt">유림</span>
                                </div>
                                <div class="right_box">
                                    <a class="comment" href="javascript:">
                                        <i class="comment_icon"><img alt="댓글아이콘" src="/assets/images/comment-icon.svg"></i>
                                        댓글 <em>0</em>개
                                    </a>
                                    <div class="checkbox">
                                        <input id="check6" type="checkbox">
                                        <label for="check3">체크하기</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="post_nav">
                <a class="prev" href="javascript:">
                    <object aria-label="왼쪽 화살표" data="../assets/images/arrow-left.svg" type="image/svg+xml"></object>
                </a>
                <a class="num" href="javascript:">1</a>
                <a class="num" href="javascript:">2</a>
                <a class="num" href="javascript:">3</a>
                <a class="num" href="javascript:">4</a>
                <a class="num" href="javascript:">5</a>
                <a class="next" href="javascript:">
                    <object aria-label="오른쪽 화살표" data="../assets/images/arrow-right.svg" type="image/svg+xml"></object>
                </a>
            </div>
        </div>
    </div>
</main>
</body>
<script>
    $(document).ready(function () {
        $(".yearpicker").yearpicker({
            year: 2023,
            startYear: 2023,
            endYear: 2050,
        });
    });
</script>
</script>
</html>