<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>다봄기록 수정하기</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/layout.css">
    <script defer src="../assets/js/header.js"></script>
</head>
<body>
<header>
    <div class="pc_header">
        <nav class="menu">
            <a href="javascript:">다봄섭취</a>
            <a href="javascript:">오늘일지</a>
            <a href="javascript:">다봄기록</a>
            <a href="javascript:">다봄모임</a>
            <a href="javascript:">다봄달력</a>
        </nav>
        <h1 class="logo">
            <a href="javascript:"><img src="/assets/images/logo.svg" alt="로고"></a>
        </h1>
        <div class="login">
            <a href="javascript:">
                <img src="/assets/images/login-icon.svg" alt="로그인 아이콘">
            </a>
        </div>
    </div>
    <div class="show_mobile">
        <div class="mobile_header">
            <div class="m_header">
                <h1 class="logo">
                    <a href="javascript:">
                        <object data="../assets/images/logo.svg" type="image/svg+xml" aria-label="로고"></object>
                    </a>
                </h1>
                <a class="hamburger" href="javascript:">
                    <div class="line top"></div>
                    <div class="line bottom"></div>
                    <div class="line center"></div>
                </a>
            </div>
            <div class="slide_nav">
                <div class="slide_header">
                    <h1 class="logo">
                        <a href="javascript:">
                            <object data="../assets/images/logo.svg" type="image/svg+xml" aria-label="로고"></object>
                        </a>
                    </h1>
                </div>
                <div class="slide_content">
                    <a href="javascript:">다봄섭취</a>
                    <a href="javascript:">오늘일지</a>
                    <a href="javascript:">다봄기록</a>
                    <a href="javascript:">다봄모임</a>
                    <a href="javascript:">다봄달력</a>
                </div>
                <div class="slide_bottom">
                    <a href="javascript:"><i class="mypage-icon"></i>마이페이지</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- .info_box a태그 .on 들어갈때로 스타일 줬어요 -->
<main>
    <div class="update_wrap">
        <div class="container">
            <div class="top_box">
                <div class="date_item">
                    <div class="img_box">
                        <img src="/assets/images/small-mascot-01.svg" alt="다봄 사진 찍는 캐릭터">
                    </div>
                    <p class="date">2023년 6월 2일 금요일</p>
                </div>
                <ul class="img_item">
                    <li>
                        <div class="img_box">
                            <img src="/assets/images/default-background.png" alt="이미지">
                        </div>
                        <a class="close_btn" href="javascript:">
                            <object data="/assets/images/close-icon.svg" type="image/svg+xml"
                                    aria-label="닫기아이콘"></object>
                        </a>
                    </li>
                    <li>
                        <div class="img_box">
                            <img src="/assets/images/default-background.png" alt="이미지">
                        </div>
                        <a class="close_btn" href="javascript:">
                            <object data="/assets/images/close-icon.svg" type="image/svg+xml"
                                    aria-label="닫기아이콘"></object>
                        </a>
                    </li>
                    <li>
                        <div class="img_box">
                            <img src="/assets/images/default-background.png" alt="이미지">
                        </div>
                        <a class="close_btn" href="javascript:">
                            <object data="/assets/images/close-icon.svg" type="image/svg+xml"
                                    aria-label="닫기아이콘"></object>
                        </a>
                    </li>
                    <li>
                        <div class="img_box">
                            <img src="/assets/images/default-background.png" alt="이미지">
                        </div>
                        <a class="close_btn" href="javascript:">
                            <object data="/assets/images/close-icon.svg" type="image/svg+xml"
                                    aria-label="닫기아이콘"></object>
                        </a>
                    </li>
                    <li>
                        <div class="img_box">
                            <img src="/assets/images/default-background.png" alt="이미지">
                        </div>
                        <a class="close_btn" href="javascript:">
                            <object data="/assets/images/close-icon.svg" type="image/svg+xml" aria-label="닫기아이콘"></object>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="info_box">
                <div class="btn_item">
                    <a class="on" href="javascript:">아침</a>
                    <a href="javascript:">점심</a>
                    <a href="javascript:">저녁</a>
                    <a href="javascript:">간식</a>
                    <a href="javascript:">칼로리 검색하기</a>
                    <a href="javascript:">바코드 검색하기</a>
                </div>
                <div class="search_box">
                    <div class="search_item">
                        <span>소금빵</span>
                        <a href="javascript:">
                            <object data="/assets/images/close-icon.svg" type="image/svg+xml" aria-label="닫기아이콘"></object>
                        </a>
                    </div>
                    <div class="search_item">
                        <span>단팥빵</span>
                        <a href="javascript:">
                            <object data="/assets/images/close-icon.svg" type="image/svg+xml" aria-label="닫기아이콘"></object>
                        </a>
                    </div>
                    <div class="search_item">
                        <span>완두콩빵</span>
                        <a href="javascript:">
                            <object data="/assets/images/close-icon.svg" type="image/svg+xml" aria-label="닫기아이콘"></object>
                        </a>
                    </div>
                </div>
                <div class="text_item">
                    <input type="text" placeholder="제목을 입력하세요">
                    <textarea placeholder="내용을 입력하세요" rows="20" role="textbox"></textarea>
                </div>
                <div class="btn_box">
                    <button class="gray_btn">취소하기</button>
                    <button class="red_btn">수정하기</button>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>