<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>다봄기록(내기록,우리기록) - 상세</title>
    <link href="../assets/css/reset.css" rel="stylesheet">
    <link href="../assets/css/layout.css" rel="stylesheet">
    <link href="../assets/css/swiper-bundle.min.css" rel="stylesheet">
    <script defer src="../assets/js/swiper-bundle.min.js"></script>
    <script defer src="../assets/js/swiper.js"></script>
    <script defer src="../assets/js/header.js"></script>
</head>
<body>
<header>
    <div class="pc_header">
        <nav class="menu">
            <a href="javascript:">다봄섭취</a>
            <a href="javascript:">오늘일지</a>
            <a href="javascript:">다봄기록</a>
            <a href="javascript:">다봄모임</a>
            <a href="javascript:">다봄달력</a>
        </nav>
        <h1 class="logo">
            <a href="javascript:"><img alt="로고" src="/assets/images/logo.svg"></a>
        </h1>
        <div class="login">
            <a href="javascript:">
                <img alt="로그인 아이콘" src="/assets/images/login-icon.svg">
            </a>
        </div>
    </div>
    <div class="show_mobile">
        <div class="mobile_header">
            <div class="m_header">
                <h1 class="logo">
                    <a href="javascript:">
                        <object aria-label="로고" data="../assets/images/logo.svg" type="image/svg+xml"></object>
                    </a>
                </h1>
                <a class="hamburger" href="javascript:">
                    <div class="line top"></div>
                    <div class="line bottom"></div>
                    <div class="line center"></div>
                </a>
            </div>
            <div class="slide_nav">
                <div class="slide_header">
                    <h1 class="logo">
                        <a href="javascript:">
                            <object aria-label="로고" data="../assets/images/logo.svg" type="image/svg+xml"></object>
                        </a>
                    </h1>
                </div>
                <div class="slide_content">
                    <a href="javascript:">다봄섭취</a>
                    <a href="javascript:">오늘일지</a>
                    <a href="javascript:">다봄기록</a>
                    <a href="javascript:">다봄모임</a>
                    <a href="javascript:">다봄달력</a>
                </div>
                <div class="slide_bottom">
                    <a href="javascript:"><i class="mypage-icon"></i>마이페이지</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="record_wrap">
        <div class="container">
            <div class="date_item">
                <div class="img_box">
                    <img alt="다봄 사진 찍는 캐릭터" src="/assets/images/small-mascot-01.svg">
                </div>
                <p class="date">2023년 6월 2일 금요일</p>
                <h2 class="title">다봄모임 -10kg 아자아자</h2>
            </div>
            <div class="record_slide">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="img_box">
                            <img alt="이미지" src="/assets/images/test.jpg">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img_box">
                            <img alt="이미지" src="/assets/images/default-background.png">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img_box">
                            <img alt="이미지" src="/assets/images/default-background.png">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img_box">
                            <img alt="이미지" src="/assets/images/default-background.png">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img_box">
                            <img alt="이미지" src="/assets/images/default-background.png">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img_box">
                            <img alt="이미지" src="/assets/images/default-background.png">
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="bottom_box">
                <div class="meal_box">
                    <h2>소금빵(1개)</h2>
                    <p class="kcal">380kcal</p>
                    <div class="txt">
                        <span class="y_txt">아침</span>
                        <span class="r_txt">유림</span>
                    </div>
                </div>
                <div class="info_box">
                    <p>내용을 입력학세요.내용을 입력학세요.내용을 입력학세요.내용을 입력학세요.내용을 입력학세요.내용을 입력학세요.내용을 입력학세요.내용을 입력학세요.내용을 입력학세요.내용을
                        입력학세요.내용을 입력학세요.내용을 입력학세요.내용을 입력학세요.내용을 입력학세요.내용을 입력학세요.내용을 입력학세요.내용을 입력학세요.내용을 입력학세요.내용을
                        입력학세요.내용을 입력학세요.내용을 입력학세요.내용을 입력학세요.내용을 입력학세요.내용을 입력학세요.내용을 입력학세요.내용을 입력학세요.내용을 입력학세요.내용을
                        입력학세요.내용을 입력학세요.내용을 입력학세요.내용을 입력학세요.내용을 입력학세요.내용을 입력학세요.내용을 입력학세요.내용을 입력학세요.내용을 입력학세요.</p>
                </div>
                <div class="btn_box">
                    <a class="gray_btn" href="javascript:">수정하기</a>
                    <a class="red_btn" href="javascript:">삭제하기</a>
                </div>
                <div class="comment_box">
                    <div class="write_box">
                        <div class="top_info">
                            <a href="javascript:">
                                <i class="link_icon">
                                    <object aria-label="좋아요아이콘" data="../assets/images/link-icon.svg" type="image/svg+xml"></object>
                                </i>
                                <p>좋아요 <em>0</em>개</p>
                            </a>
                            <a href="javascript:">
                                <i class="comment_icon">
                                    <object aria-label="댓글아이콘" data="../assets/images/comment-block-icon.svg" type="image/svg+xml"></object>
                                </i>
                                <p>댓글 <em>0</em>개</p>
                            </a>
                        </div>
                        <div class="write_info">
                            <label class="hidden">댓글작성하기</label>
                            <input placeholder="댓글을 달아보세요" type="text">
                            <a href="javascript:">댓글 작성</a>
                        </div>
                    </div>
                    <ul class="comment_list">
                        <li>
                            <div class="comment_text_box">
                                <div class="nick_box">
                                    <div class="profile_img">
                                        <img alt="프로필이미지" src="../assets/images/default-profile.png">
                                    </div>
                                    <div class="info">
                                        <div class="nick">다봄어터</div>
                                        <div class="date">2023/04/25</div>
                                    </div>
                                </div>
                                <div class="text_box">아침은 든든히 먹어야지!!!!</div>
                                <div class="comment_btn">
                                    <button>답글 달기</button>
                                    <button>숨기기</button>
                                </div>
                            </div>
                            <div class="comment_view_box"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>