<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>마이페이지 다봄탈퇴</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/layout.css">
</head>
<body>
<div class="mypage_wrap">
    <div class="container">
        <nav class="left_box">
            <h1 class="logo">
                <a href="javascript:"><img src="../assets/images/logo.svg" alt="로고"></a>
            </h1>
            <ul class="nav_list">
                <li>
                    <a href="javascript:">마이다봄</a>
                </li>
                <li>
                    <a href="javascript:">다봄게시물</a>
                </li>
                <li>
                    <a href="javascript:">다봄친구</a>
                </li>
                <li class="on">
                    <a href="javascript:">회원탈퇴</a>
                </li>
            </ul>
        </nav>
        <div class="right_box">
            <div class="unregister_box">
                <h2>다봄 회원 탈퇴</h2>
                <div class="info_box">
                    <span>탈퇴 전 유의사항</span>
                    <div class="guide">
                        <p>탈퇴가 완료되면 <em>개인 정보는 즉시 파기 되며 복구가 불가</em>해요</p>
                        <p>탈퇴 후에는 <em>모든 작업 정보가 삭제</em>되니 신중하게 결졍해주세요!</p>
                    </div>
                </div>
                <div class="content_box">
                    <div class="txt">진짜 갈거야?</div>
                    <div class="img_box">
                        <img src="/assets/images/unregister.png" alt="회원탈퇴이미지">
                    </div>
                </div>
                <div class="btn_box">
                    <a class="black_line_btn" href="javascript:">취소하기</a>
                    <a class="red_btn" href="javascript:">탈퇴하기</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>